<div class="container-fluid" id="content">
  <div class="row summary-box">
    <div class="col">
      <h1>Assay descriptions</h1>
      <div class="summary" id="main_summary">
        Experimental methodology and data for each high throughput screen
      </div>
      <div class="filter float-right" *ngIf="isFiltered">
        <mat-button-toggle value="bold" (click)="removeFilter()">remove filter</mat-button-toggle>
      </div>
    </div>

  </div>

  <div class="row flex-row">

    <div *ngFor="let assay of selAssays" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch assay-type d-flex">

      <div class='card '>


        <div class="row">
          <div class="col card-title">
            <a [routerLink]="['/assays/', assay.assay_id]">
          <span [outerHTML]="assay.title | sciItalicize">
            </span>
        </a>
          </div>

          <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto id">
            {{ assay.assay_id }}
          </div>
        </div>

        <div class="card-text">
          <a [routerLink]="['/assays/', assay.assay_id]">
        <span [outerHTML]="assay.summary | sciItalicize">
          </span>
      </a>
        </div>

        <div class="row align-items-end align-self-stretch">
          <div class="col">
            <mat-chip-list class="">
              <mat-chip class="indication" (click)="filterIndic(assay.indication)" [ngStyle]="{'background-color': getIndicColor(assay.indication)['background'], 'color': getIndicColor(assay.indication)['font']}">
                <span [outerHTML]="assay.indication | sciItalicize">
              </span>
              </mat-chip>
            </mat-chip-list>
          </div>

          <div class="col">
            <mat-chip-list class="">
              <mat-chip class="type float-right" *ngFor="let type of assay.assay_type.split(',')" (click)="filterType(type)" [ngStyle]="{'background-color': getTypeColor(type)[0], 'border': '1px solid ' + getTypeColor(type)[1], 'color': getTypeColor(type)[1]}">
                <!-- (click)="filterType(type)" [ngStyle]="{'background-color': 'white', 'border': '1px solid ' + getTypeColor(type)[1], 'color': getTypeColor(type)[1]}"> -->
                {{ type }}
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>

      </div>
    </div>

  </div>

  <!-- table view -->
  <!-- <div class="">
    <table style="width:100%" id="assays">
      <tr id="label">
        <th id="table_id">id</th>
        <th id="table_assay">assay</th>
        <th id="table_ind">indication</th>
        <th id="table_type">type</th>
        <th id="table_descrip">description</th>
      </tr>


      <tr *ngFor="let assay of selAssays">
        <td class="id" id="table_id">
          {{ assay.assay_id }}
        </td>

        <td class="summary" id="table_assay">
          <a href="/#/assays/{{ assay.assay_id }}">
            {{ assay.title }}
          </a>
          <mat-icon *ngIf="!notMobile" class="more-info" (click)="expandCell($event)">expand_more</mat-icon>
        </td>

        <td>
          <mat-chip-list>
            <mat-chip class="indication" (click)="filterIndic(assay.indication)" [ngStyle]="{'background-color': getIndicColor(assay.indication)['background'], 'color': getIndicColor(assay.indication)['font']}">
              {{ assay.indication }}
            </mat-chip>
          </mat-chip-list>
        </td>

        <td>
          <mat-chip-list>
            <mat-chip class="type" *ngFor="let type of assay.assay_type.split(',')" (click)="filterType(type)" [ngStyle]="{'background-color': getTypeColor(type)[0], 'border': '1px solid ' + getTypeColor(type)[1], 'color': getTypeColor(type)[1]}">
              {{ type }}
            </mat-chip>
          </mat-chip-list>
        </td>


        <td id="table_descrip">
          {{ assay.summary }}
        </td>
      </tr>


    </table>
  </div>
</div> -->
