/* general style, used in all assay descriptions */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a,
a.dwnld-link:hover {
  color: #3D6DE0;
}

.title {
  width: 85%;
}

.summary-box {
  border-bottom: 1px solid #212529;
  border-top: 1px solid #212529;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.summary {
  font-size: 1.1em;
  margin-bottom: 25px;
  line-height: 1.15em;
}

#label {
  font-weight: 400;
}
/*Table widths for main assay page*/
#assays {
  table-layout: fixed;
}

#table_id {
  width: 10%;
  min-width: 70px;
}

#table_assay {
  width: 20%;
}

#table_type {
  width: 15%;
}

#table_ind {
  width: 15%;
}

#table_descrip {
  width: 40%;
}

#assays td {
  padding-top: 12px;
  padding-bottom: 12px;
}

#label > th {
  font-size: 1.2em;
  opacity: 0.5;
  font-weight: 300;
  text-transform: uppercase;
}

.id {
  color: #c3c4c5;
  float: left;
  padding-top: 15%;
  padding-bottom: 15%;
  text-align: right;
}

#assays tr:nth-child(even) {
  background: #f7f7f7;
  border-right: #dadada 3px solid;
}
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  #label {
    th:not(#table_assay) {
      display: none;
    }
  }

  #table_id {
    display: none !important;
  }

  tr:not(#label) {
    display: flex;
    flex-direction: column;
  }

  .mat-icon {
    transition: transform 0.5s ease-in-out;
  }

  #assays td {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    width: auto;

    &:not(#table_assay) {
      padding-top: 0;
      padding-bottom: 0;
      flex: 0;
      position: relative;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      max-height: 0;
      min-height: unset;
      overflow: hidden;
      border-top: 1px dashed transparent;
      transition: max-height 0.5s ease-in-out, border-top-color 0.5s ease-in-out, padding 0.5s ease-in-out;

      * {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
      }
      //display: none;
      &:before {
        font-weight: 600;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
        overflow: hidden;
      }

      &:nth-of-type(3):before {
        content: 'Indication';
      }

      &:nth-of-type(4):before {
        content: 'Type';
      }

      &:nth-of-type(5):before {
        content: 'Description';
      }

      &.expanded {
        max-height: 350px;
        padding: 12px 20px;
        border-top-color: #c3c4c5;

        * {
          max-height: 350px;
        }

        &:before {
          max-height: 100px;
        }
      }
    }

    &.expanded {
      .mat-icon {
        transform: rotate(180deg);
      }
    }

    &#table_assay,
    &#table_descrip,
    &#table_ind,
    &#table_type {
      width: auto;
    }

    &#table_assay {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  // td
}

.indication, .type {
  cursor: pointer;
}

.type {
  font-weight: 400;
}

.assay-type .card{
  // border: 1px solid #9ba4ae;
  padding: 15px;
  // border-collapse: collapse !important;
  margin-bottom: 25px;
}

.card-text a {
  color: #212529;
}

.card-text a:hover {
  text-decoration: none;
}
