<div class="container-fluid" id="content">
  <div class="summary-box">
    <h1>Assay descriptions</h1>
    <div class="summary" id="main_summary">
      Experimental methodology and data for each high throughput screen
    </div>
    <div class="filter float-center" *ngIf="isFiltered">
      <mat-button-toggle value="bold" (click)="removeFilter()">remove filter</mat-button-toggle>
    </div>
  </div>

  <div class="">
    <table style="width:100%" id="assays">
      <tr id="label">
        <th id="table_id">id</th>
        <th id="table_assay">assay</th>
        <th id="table_ind">indication</th>
        <th id="table_type">type</th>
        <th id="table_descrip">description</th>
      </tr>


      <tr *ngFor="let assay of selAssays">
        <td class="id" id="table_id">
          {{ assay.assay_id }}
        </td>

        <td class="summary" id="table_assay">
          <a href="/#/assays/{{ assay.assay_id }}">
            {{ assay.title }}
          </a>
          <mat-icon *ngIf="!notMobile" class="more-info" (click)="expandCell($event)">expand_more</mat-icon>
        </td>

        <td>
          <mat-chip-list>
            <mat-chip class="indication" (click)="filterIndic(assay.indication)"
            [ngStyle]="{'background-color': getIndicColor(assay.indication)['background'], 'color': getIndicColor(assay.indication)['font']}">
              {{ assay.indication }}
            </mat-chip>
          </mat-chip-list>
        </td>

<!-- Type -->
        <td>
          <mat-chip-list>
          <mat-chip class="type" *ngFor="let type of assay.assay_type.split(',')"
            (click)="filterType(type)" [ngStyle]="{'background-color': getTypeColor(type)[0], 'border': '1px solid ' + getTypeColor(type)[1], 'color': getTypeColor(type)[1]}">
            <!-- (click)="filterType(type)" [ngStyle]="{'background-color': 'white', 'border': '1px solid ' + getTypeColor(type)[1], 'color': getTypeColor(type)[1]}"> -->
              {{ type }}
            </mat-chip>
          </mat-chip-list>
        </td>


        <td id="table_descrip">
          {{ assay.summary }}
        </td>
      </tr>


    </table>
  </div>
</div>
