<div class="about-container">

  <h4><span class="bold">reframe</span><span class="thin">db</span> compounds</h4>
  <div class='about-descrip source'>
    Data was initially pooled from three of the largest and most commonly used commercial databases, <a href="https://gostardb.com/gostar/loginEntry.do" target="_blank" rel="noreferrer">GVK-Excelra GOSTAR</a> (Global Online Structure Relationship
    Database),
    <a href="https://integrity.thomson-pharma.com/integrity/xmlxsl/pk_home.util_home" target="_blank" rel="noreferrer">Clarivate Integrity</a>, and
    <a href="https://pharmaintelligence.informa.com/contact/contact-us" target="_blank" rel="noreferrer">Citeline Pharmaprojects</a>, to arrive at a prioritized compound list of approximately 14,000 compounds. For each data provider, the list of
    clinical
    compounds with structures was filtered to remove drug combinations of individual compounds already included in the collection, isotopically labelled compounds, diagnostic agents, and chemosensitizers, removing ~2,000 compounds.
  </div>

  <h4 id="gvk-source">GVK-Excelra GOSTAR (Global Online Structure Relationship Database)</h4>
  <div class='about-descrip source'>
    <a href="https://gostardb.com/gostar/loginEntry.do" target="_blank" rel="noreferrer">GVK GOSTAR</a> has over 22 million structure-activity relationship data points covering 6 million structures from 2.2 million patents and greater than 348,000
    journal
    articles; it also includes rich lead optimization datasets with integrated clinical-stage compound data. The Excelra GOSTAR database includes a 5,000-approved drug database (encompassing 569 molecular targets) and a 29,000-compound clinical
    candidate
    compound collection.
  </div>

  <h4 id="integrity-source">Clarivate Integrity</h4>
  <div class='about-descrip source'>
    <a href="https://integrity.thomson-pharma.com/integrity/xmlxsl/pk_home.util_home" target="_blank" rel="noreferrer">Clarivate Integrity</a> also has extensive drug information with over 500,000 drug entries, and over 74,000 assays containing more
    than 2.1 million SAR data points. Clarivate Integrity database has comprehensive patent literature and chemical structure coverage, drawing upon broader sources, such as patent applications, scientific conference presentations, and peer-reviewed
    literature.
  </div>

  <h4 id="informa-source">Citeline Pharmaprojects</h4>
  <div class='about-descrip source'>
    <a href="https://pharmaintelligence.informa.com/contact/contact-us" target="_blank" rel="noreferrer">Citeline Pharmaprojects</a> has over 35 years of drug development data from various sources including relevant pharmacokinetic and clinical trial
    information. Citeline Pharmaprojects database has comprehensive patent literature and chemical structure coverage, drawing upon broader sources, such as patent applications, scientific conference presentations, and peer-reviewed literature.
  </div>


  <h4>Wikidata</h4>
  <div class='about-descrip source'>
    Other compound data is pulled from <a href="https://www.wikidata.org/" target="_blank" rel="noreferrer">Wikidata</a>, a free and open knowledge base that can be read and edited by both humans and machines.
  </div>

</div>
