<div mat-dialog-content>
	<p [ngClass]="{'text-danger': !forgotSuccess}">
	  {{ forgotResponse }}
	</p>
	<div class="generate-forgot-password-email" [hidden]="forgotSuccess">
		<h3>Send new password link</h3>
		<form (ngSubmit)="onSubmit($event)" [formGroup]="forgotPassForm">
			<mat-form-field>
		    <input matInput placeholder="Email Address (Your User Name)"
		           formControlName="email"
		           required
		           id="forgot-password-email"
		           [(ngModel)]="forgotPasswordEmail"
		           name="forgot-password-email">

		    <mat-error *ngIf="forgotPassForm.controls['email'].errors && !forgotPassForm.controls['email'].pristine">{{getErrorMessage()}}</mat-error>
		  </mat-form-field>
		  <button mat-raised-button color="primary" [disabled]="forgotPassForm.invalid" type="submit" [formGroup]="forgotPassForm">Submit</button>
		</form>
	</div>
</div>
