/* -- header -- */
.blue-fill {
  background-color: #f5f8fd;
  padding-top: 6px;
  padding-bottom: 12px;
  margin-bottom: 6px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: -webkit-inline-box;
  border-right: 3px white solid;
}

.logo img {
  margin-top: 0;
  width: 40px;
  vertical-align: top;
}

.name {
  display: -webkit-inline-box;
  margin-top: 7px;
  margin-left: 12px;
  margin-right: 12px;
}

.name a:hover {
  text-decoration: none;
}

.narrow {
  letter-spacing: -0.2px;
}

.wide {
  letter-spacing: 1px;
}

header ul {
  list-style-type: none;
  padding: 0;
}

footer li,
header li {
  display: inline-block;
  opacity: 0.8;
  padding-left: 12px;
  padding-right: 12px;
}

header a {
  color: #212529;
}
/* footer */
footer {
  border-top: 4px solid #7f9feb;
  margin-top: 6px;
  /* padding-top: 3px; */
  font-size: 1em;
  margin-top: 50px;
  margin-bottom: 6px;
  vertical-align: middle;
}

footer li {
  padding-top: 6px;
  padding-right: 18px;
}

.calibr-logo {
  margin-top: 4px;
  height: 30px;
  vertical-align: middle;
}

.gh {
  height: 20px;
  margin-top: -5px;
  margin-right: 6px;
}

.left-spacer {
  padding-left: 6px;
}

.nav {
  flex-wrap: nowrap;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: unset;

  .site-name {
    font-size: 1.4em;
    margin-left: 12px;
  }

  .site-subtitle {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    opacity: 0.65;
    line-height: 1em;
    margin-left: 12px;
  }
}

.navbar-collapse {
  height: 0;
  width: 0;
  overflow: hidden;
  transition: height, 0.3s linear;

  &:not(.show) {
    display: block;
  }

  &.show {
    height: 140px;
    width: 100%;
  }
}

.navbar-nav {
  align-items: flex-end;
  padding-top: 0.5em;

  li {
    padding-top: 5px;
  }
}

.link-menu {
  flex-direction: column;
  align-items: flex-end;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.links.logout-wrap {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.reveal {
  height: 0;
  width: 0;
  overflow: hidden;
  background: #f5f8fd;
  border-bottom-left-radius: 15px;
  -webkit-transition: height, 0.3s linear;
  -moz-transition: height, 0.3s linear;
  -ms-transition: height, 0.3s linear;
  -o-transition: height, 0.3s linear;
  transition: height, 0.3s linear;

  &.open {
    height: 200px;
    width: 100%;
    z-index: 10;
    padding-right: 15px;
    -webkit-transition: height, 0.3s linear;
    -moz-transition: height, 0.3s linear;
    -ms-transition: height, 0.3s linear;
    -o-transition: height, 0.3s linear;
    transition: height, 0.3s linear;
  }

  &.sign-in {
    margin-top: 16px;
  }

  &.show.logout {
    height: auto;
    width: 100%;
  }
}

.sign-in {
  cursor: pointer;
}

// @media only screen and (min-width: 992px) {
//   .navbar-collapse {
//     height: auto;
//     width: auto;
//   }
//
//   .navbar-nav {
//     align-items: center;
//
//     li {
//       padding-top: 0;
//     }
//   }
//
//   .reveal {
//     &:not(.logout) {
//       position: absolute;
//       top: 62px;
//       right: 0;
//     }
//
//     &.open {
//       height: 100px;
//       width: 530px;
//     }
//
//     &.logout {
//       height: auto;
//       width: auto;
//     }
//   }
// }
