/* nav elements:  tab panes, pagination */
.data-header{
  margin-bottom: 24px;
}


.dropdown-menu {
  background-color: #f4f4f4;
  min-width: 100px;
}

.dropdown-menu > li {
  text-align: center;
}

.dropdown-menu>li>a {
  color: #8d98a3;
  font-size: 1em;
  font-weight: 300;
  font-family: 'Lato', 'Arial', sans-serif;
  cursor: pointer;
}

.dwnld-btn {
  background-color: #2125290d;
  border-radius: 3px;
  margin-left: 20px;
  border: 1px #2125290d solid;
  -webkit-text-fill-color: #21252940; /*text color*/
  color: #21252955; /*caret color*/
  font-size: 0.75em;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

.dwnld-btn:hover {
  background-color: #21252921;
}
