<div *ngIf="loggedIn; else lgin"><button (click)="logout()" mat-raised-button color="warn" type="submit">Logout</button></div>


<ng-template #lgin>

  <form (ngSubmit)="onSubmit($event)" #userForm="ngForm">
    <div class="mat-app-background">
      <span>
      <mat-form-field>
        <input matInput placeholder="Enter your email" [formControl]="email" required  id="email"
               [(ngModel)]="user.email" name="email">
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      </span>
      <div class="divider"></div>
      <span>
        <mat-form-field>
          <input matInput placeholder="Password"  id="password"
                 [type]="'password'"
                 required
                 [(ngModel)]="user.password" name="name"
                 #name="ngModel">
        </mat-form-field>

      </span>
      <div class="divider"></div>
      <button class="login-button" mat-raised-button color="primary" type="submit">Login</button>
    </div>

  </form>
  <app-reg-user-dialog></app-reg-user-dialog>
</ng-template>
