<div class="search-opts">
  <!-- Label: search -->
  <span class="search-label">search options</span>

  <!-- Loop over search options to create radio buttons -->
  <mat-radio-group [(ngModel)]="searchMode">
    <mat-radio-button class="search-opt" *ngFor="let opt of searchOptions" [value]="opt.id" matTooltip="{{opt.tooltip}}">
      {{opt.label}}
    </mat-radio-button>
  </mat-radio-group>

  <!-- Add Tanimoto slider if searching for similar compounds -->
  <div id="tanimoto" *ngIf="searchMode === 'similarity'">
    <div class="slider-label">
      Tanimoto threshold: {{ tanimotoThresh | number: '1.2-2'}}
    </div>

    <div class="slider">
      <span class="slider-limit">0</span>
      <mat-slider id="tanimoto-slider" min="0" max="1" step="0.05" (change)="submitQuery()" [(ngModel)]="tanimotoThresh" thumbLabel></mat-slider>
      <!-- <mat-slider id="tanimoto-slider" min="0" max="1" step="0.05" [(ngModel)]="tanimotoThresh" (change)="onSubmit()" thumbLabel></mat-slider> -->
      <span class="slider-limit">1</span>
    </div>

  </div>

  <div class="search col-md-9">

    <!-- Search bar -->
    <input type="text" class="search form-control" placeholder="search by SMILES or InChI" autofocus [(ngModel)]="text_query" (keyup.enter)="onSubmit()">

    <button mat-icon-button class='search-btn' (click)="onSubmit()">
      <mat-icon aria-label="search" color="accent" >search</mat-icon>
    </button>

    <!-- <button mat-raised-button color="accent" class="pull-right">search</button> -->
  </div>
</div>
