.tooltip-avg {
  font-size: 1em;
  font-weight: 400;
}

.tooltip-indiv {
  font-size: 0.8em;
  color: #8d98a3;
  padding-left: 12px;
}

#structs {
  pointer-events: none;
  padding: 12px;
  position: absolute;
  border-radius: 5px;
  background: #f3f3f4;
  opacity: 0.75;
}

#struct-name {
  margin-top: -8px;
  font-size: 1.25em;
  font-weight: 400;
  padding-top: 6px;
  padding-bottom: 3px;
}

#data-headers {
  border-bottom: 1px solid #8d98a3;
  border-top: 1px solid #8d98a3;
}

#tooltip-avg,
.meas_val {
  text-align: right;
}

.meas_val {
  padding-right: 10px;

  &:last-child {
    padding-left: 10px;
    padding-right: 0;
  }
}
