.divider{
  width:10px;
  height:auto;
  display:inline-block;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 5px;
}

.login-button {
  color: #fff;
  background-color: #3D6DE0;
}

/deep/ .mat-fab.mat-warn, .mat-flat-button.mat-warn, .mat-mini-fab.mat-warn, .mat-raised-button.mat-warn {
  background-color: #c3142e;
}

/deep/ .btn-xs {
  color: #3D6DE0;
  background: none;
}