h3 {
  font-weight: 300;
}

.about {
  margin-bottom: 25px;
}

#content {
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
	#content {
		width: auto;
	}
}