$border-width: 4px;
$nav-background: #3D6DE0;
$nav-highlight: mix(#d4ffed, #7a9bff);

/deep/ .about-descrip .citation {
  margin-top: 0 !important;
}

.about {
  margin-bottom: 40px;
}

.about-nav {
  background: $nav-background;
  margin-bottom: 15px;
}

.nav-spacer {
  flex: 1;
  border-top: $border-width white solid;
}

.nav-button {
  border-top: $border-width white solid;
  padding: 2px 15px 5px;
  cursor: pointer;

  & a {
    color: white;
    text-decoration: none;
  }

  &:hover {
    border-top: $border-width $nav-highlight solid;

    & a {
      color: $nav-highlight;
    }
  }
}

.section-group {
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
}

h2#overview {
  margin-bottom: 0;
}
