/* nav elements:  tab panes, pagination */

.nav-pills {
  margin-top: -0.5rem;
  cursor: pointer;
}

.nav-pills .nav-link {
  background-color: #eff1f2;
  border-radius: 3px;
  margin-left: 4px;
  border: 0px #e4e7e9 solid;
  border-bottom-width: 4px;
  color: #c2c8ce;
  -webkit-text-fill-color: #c2c8ce;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #dfe2e5;
  border-color: #b7bec5;
  -webkit-text-fill-color: #8d98a3;
  color: #8d98a3;
}

.nav-pills .nav-link:hover {
  background-color: #e4ebfb;
  -webkit-text-fill-color: #3d6de0;
  color: #3d6de0;
  border-color: #cad7f6;
}

.nav>li>a {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 6px;
  margin-top: 4px;
  margin-bottom: 8px;
}

span.btn {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 300;
  pointer-events: none;
  /* Necessary to fix webkit error where child text screws up event firing */
  padding: 0;
}

.hidden {
  display: none;
}

.nav-item {
  display: block;
}
