<!-- <div class="citation" *ngIf="pmid">
  {{ cite }}
</div> -->


<ng-container *ngIf="citations && citations.length >  0">
  <ng-container *ngFor="let citation of citations">
    <div class="citation">
      <span id="title">
        <a [href]="'https://doi.org/' + citation.DOI" target="_blank">
        <span [outerHTML]= "citation.title"></span>
      </a>
      </span>.

      <span id="authors">
        <span *ngFor="let author of citation.author; let i=index" id="author">
            {{ author.given }} {{ author.family}}<span>{{i === citation.author.length - 1 ? '. ' : ','}}</span>
      </span>
      </span>

      <span id="journal"><i>{{citation['container-title']}}</i></span>,

      <span id="vol">{{citation.volume}}</span>, <span id="issue">{{citation.issue}}</span>, <span id="page">{{citation.page}}</span>.
    </div>

    <div class="links">
      <span id="pmid">PubMed ID: <a [href]="'https://www.ncbi.nlm.nih.gov/pubmed/?term=' + citation.PMID" target="_blank">{{citation.PMID}}</a></span>
      <span class="data-separator"></span>
      <span id="doi">DOI: <a [href]="'https://doi.org/' + citation.DOI" target="_blank">{{ citation.DOI }}</a></span>
    </div>
  </ng-container>
</ng-container>
