.citation {
  font-size: 0.85em;
}

.links {
  font-size: 0.75em;
  // color: #717e8c;
  margin-top: 3px;
  float: right;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
}
