button.mat-icon-button {
  /*background-color: #0d71bb;*/
  padding: 0;
  color: #5bcc85;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

sup {
  vertical-align: super;
  font-size: xx-small;
  color: #7a94fc;
}
