body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.view-more,
a,
a.dwnld-link:hover {
  color: #3D6DE0;
  cursor: pointer;
}

.assay-id,
.home-link {
  margin-top: 6px;
  margin-bottom: 0;
}

.assay-id {
  color: #c3c4c5;
}

.home-link {
  color: #3D6DE0;
}

#viewmore button {
  background-color: #f4f4f4;
  border-radius: 3px;
  margin-left: 20px;
  border: 1px #c5cbd0 solid;
  -webkit-text-fill-color: #9ba4ae; // text
  color: #b7bec5; // arrow
  font-size: 0.75em;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
}

#viewmore {
  padding-top: 10px;
}

#viewmore button:hover {
  background-color: #e1e4e7;
}

.overview {}

.overview > ul {
  list-style: none;
  padding: 6px 10px;
  background: #edf1fc;
  border-radius: 3px;
}

.summary-box {
  border-bottom: 1px solid #212529;
  border-top: 1px solid #212529;
  margin-top: 15px;
  margin-bottom: 20px;
  // padding-top: 15px;
  padding-bottom: 15px;
}

.summary {
  font-size: 20px;
}

#label {
  font-weight: 400;
}

.condits {
  color: #818182;
  padding-top: 6px;
}

.subtitle {
  font-size: 20px;
  color: #212529;
  padding-bottom: 3px;
  margin-left: 0;
  margin-right: 0;
}

.description {
  margin-bottom: 15px;
}
/* text */
#protocol {
  margin-top: 32px;
  border-top: 1px solid #212529;
}

#protocol h3 {
  margin-top: 0.5rem;
  margin-top: 15px;
  padding-top: 12px;
}

.summary-content {
  margin-top: 15px;
}

.author {
  width: 100%;
  margin-top: 0;
  border-top: none;
  font-size: 0.8em;
  color: #9ba4ae;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 1px;
  padding-left: 10px;
  border-bottom: #717e8c 1px dashed;
}

.citation-container {
  display: flex;
  font-size: 0.9em;
  flex: 1;
  justify-content: flex-end;
}

.citation-group {
  margin-top: 5px;
}
