<!-- Check if assay details are available from the backend -->
<ng-template #no_assay>
  <h3>Assay {{aid}}</h3>
  <p>
    Details unavailable. Please contact <a href="mailto:help@reframedb.org?subject=Missing details for assay {{aid}}">help@reframedb.org</a>
  </p>
</ng-template>


<div class="container" *ngIf="assayDetails; else no_assay">
  <div class="row d-flex">
    <div class="col">
      <h1 class="assay-title">
        <span [outerHTML]="assayDetails.title_short | sciItalicize">
          </span>
      </h1>
    </div>
    <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto align-self-end">
      <p class="text-right assay-id"> {{ assayDetails.assay_id }} </p>
      <p class="text-right home-link"><a routerLink="/assays">return to all assays</a></p>
    </div>
  </div>


  <!-- SUMMARY -->
  <div class="row summary-box">
    <div class="row author" *ngIf="assayDetails.authors">
      by {{ assayDetails.authors }}
    </div>

    <div class='row summary-content'>

      <div class="col-md-9">
        <div class="summary">
          <span [outerHTML]="assayDetails.summary | sciItalicize"></span>
        </div>


        <div id="viewmore" class="view-more">
          <a (click)="onAnchorClick('protocol')">view detailed protocol</a>
        </div>

        <app-citation [pmid]="assayDetails.refs_PMID"></app-citation>

        <div>
        </div>


      </div>

      <div class="col-md-3 overview">
        <ul>
          <li><span id="label">indication: </span>
            <span [outerHTML]="assayDetails.indication | sciItalicize"></span></li>
          <li><span id="label">assay type: </span> {{ assayDetails.assay_type }}</li>
          <li><span id="label">components: </span>
            <span [outerHTML]="assayDetails.components | sciItalicize"></span></li>
          <li><span id="label">detection method: </span> {{ assayDetails.detection_method }}</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- end summary -->

  <!-- VIS -->
  <app-assay-plots></app-assay-plots>
  <!--  end vis -->

  <!-- DETAILS -->
  <div class='row' id="protocol">
    <h3><span [outerHTML]="assayDetails.title_short | sciItalicize"></span> protocol</h3>

    <div class="description">
      <span [outerHTML]="assayDetails.purpose | sciItalicize"></span>
    </div>

    <div class="row">
      <div class="col-md-6" id="drug-condits">
        <div class="row subtitle">Drug incubation conditions</div>
        <div class="row">
          <div class="col-md-7 condits">
            <span [outerHTML]="assayDetails.protocol | sciItalicize"></span>
          </div>

          <div class="col-md-5 overview">
            <ul>
              <li><span id="label">assay type: </span> {{ assayDetails.assay_type }}</li>
              <li><span id="label">components: </span>
                <span [outerHTML]="assayDetails.components | sciItalicize"></span>
              </li>
              <li><span id="label">drug concentration: </span> {{ assayDetails.drug_conc }} </li>
            </ul>
          </div>

        </div>

      </div>

      <div class="col-md-6" id="detect-condits">
        <div class="row subtitle">Detection conditions</div>
        <div class="row">
          <div class="col-md-7 condits">
            <span [outerHTML]="assayDetails.readout | sciItalicize"></span>
          </div>

          <div class="col-md-5 overview">
            <ul>
              <li><span id="label">detection method: </span> {{ assayDetails.detection_method }}</li>
              <li *ngIf="assayDetails.detection_reagents">
                <span id="label">detection reagents: </span> {{ assayDetails.detection_reagents }}</li>

            </ul>
          </div>

        </div>

      </div>
    </div>

  </div>
