<div class='container-fluid'>

  <div class="row">

    <div class="col-md-2" hidden>
      <!-- GitHub Issue # 9 -->
      <app-compound-search-options></app-compound-search-options>
    </div>

    <div class="input-group input-group-lg col-md">

      <div *ngIf="isIE" class="alert alert-danger">Compound search may not be accurate with Internet Explorer, please try using Chrome</div>
      <search-box class="search"></search-box>

      <div class="row">
        <br>
        <search-result></search-result>
      </div>
    </div>
  </div>
</div>
