$substructure-highlight: #f4e0f1; //purple
$substructure-strokewidth: 2.25; // 1.67 by default
//#ffe5eb; // pink-ish
//#f4e0f1; // purple 50% of 9e378e
//#f1d9c5; // brown 55% of 804a1e
//#ffeab5; // soft yellow too subtle?
//#cdebf7; // blue 45% of 1f93c0 NO.
//#b8fff6 // aquamarine 50% of 00b8a0 50%
//#fff2ce;
//#

.svg-wrapper {
  position: relative;
  width: 100%;
}

/deep/ .svg-wrapper svg {
  margin: 10px auto 20px;
  width: 90%;
  height: auto;
  max-height: 400px;
  display: inline-block;
}

/deep/ rect {
  // fill: none;
}

.outerglow > line,
/deep/ .outerglow,
line.outerglow {
  stroke: $substructure-highlight;
  stroke-width: $substructure-strokewidth;
}

/deep/ g.outerglow line {
  stroke: $substructure-highlight !important;
  stroke-width: $substructure-strokewidth;
}

/deep/ .outerglow path {
  stroke: $substructure-highlight;
}

/deep/ .outerglow ellipse {
  fill: $substructure-highlight;
  stroke: $substructure-highlight;
  stroke-width: 0.5;
}

/deep/ .bond {
  stroke-width: 0.35;
  stroke: #212529;
}
// --- Launch substructure search ---
.struct-search {
  font-size: 0.75em;
  float: right;
  // background: #fecccd;
  // color: #990024;
  // border: 1px solid #ff003c;
  background: #e4e7e9;
  border: 1px solid #b7bec5;
  color: #717e8c;
  border-radius: 3px;
  margin-bottom: 5px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
