<div *ngIf="availData.length > 0" class="avail-table">
  <h5 class="float-right">Available data</h5>
  <table class="avail-table">
    <tr *ngFor="let property of availData">
      <td matTooltip="{{property.value ? property.tooltip.replace('available', 'AVAILABLE') : property.tooltip.replace('available', 'NOT AVAILABLE').replace('1+', '0')}}">
        {{property.name}}
      </td>
      <td [ngClass]="property.value ? 'circle available' : 'circle not-available'" matTooltip="{{property.value ? property.tooltip.replace('available', 'AVAILABLE') : property.tooltip.replace('available', 'NOT AVAILABLE').replace('1+', '0')}}">
      </td>
    </tr>
  </table>
</div>
