h4 {
  margin-top: 0;
}

h5 {
  font-size: 1.25em;
  /* font-weight: 300; */
  color: #21252955;
  text-transform: uppercase;
  margin-bottom: 7px;
}
/* Binary buttons if available */
.avail-table {
  width: 100%;
  max-width: 250px;
}

/deep/ .nodata table.avail-table {
  border: 1px #21252955 solid;
  border-spacing: 25px;
}

td {
  padding-bottom: 10px;
  vertical-align: baseline;
  padding-right: 5px;
  text-align: right;
}

.circle {
  height: 15px;
  width: 15px;
  border: #212529 solid 1px;
  border-radius: 50%;
  display: block;
  margin: auto;
  font-size: 0;
}

.available {
  background-color: #FF5B67;
  // background-color: #ff8884;
  /* fc5457; */
}

.assay-avail {
  background-color: #c3c4c5;
}

.not-available {
  background-color: none;
}
