<div *ngIf="similarityResults && similarityResults.length > 0" class="clearfix">

  <h3 class="similar-title" id="similar">Similar molecules</h3>


  <div class="similar-grp">
    <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let related of similarityResults; let i=index">
      <div class="similar-cmpds" *ngIf="i < num_results" id="{{related.id}}">
        <a [routerLink]="['/compound_data', related.id.split('/').pop(), {qid: related.qid.split('/').pop()}]" target="_blank">
          <!-- Compound name -->
          <div class="similar-label">
            <h4>{{ related.main_label }}</h4>
          </div>


          <div class="alias">
            <ul>
              <li *ngFor="let alias of related.aliases; let i=index">
                {{ alias }}
                <span *ngIf="i + 1 < related.aliases.length" class='data-separator'></span>
              </li>
            </ul>
          </div>

          <!-- Tanimoto score -->
          <div class="similar-tanimoto" [ngStyle]="{'background-color': tanimotoScale(related.tanimoto, 0.4), 'border-top-color': tanimotoScale(related.tanimoto), 'border-bottom-color': tanimotoScale(related.tanimoto)}">
            Tanimoto Similarity Score: {{ related.tanimoto | number: '1.2-2' }}
          </div>



          <div class="similar-content">
            <!-- 2D Chemical structure -->
            <div class="col-sm-6 col-xs-12 similar-struct" *ngIf="related.id.length === 27">
              <!-- PubChem API can search based on InChI keys- however only returns if there's a CID -->
                <!-- <img src="https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/inchikey/{{related.id}}/PNG" class="img-responsive" alt="structure {{related.main_label}}"> -->
                <!-- <img src="https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/cid/{{related.pubchem.replace('CID', '')}}/PNG" class="img-responsive" alt="structure {{related.main_label}}"> -->
                <!-- <app-ngl [input]="related.pubchem.replace('CID', '')"></app-ngl> -->
                <app-struct2d [structure]="related.id" struct_type="inchikey"></app-struct2d>
            </div>

            <!-- List of available data -->
            <div [ngClass]="related.id.length === 27 ? 'col-sm-6 col-xs-12 similar-avail' : 'col-xs-12 similar-avail'">
              <h5 class="pull-right">Available data</h5>
              <table class="avail-table">
                <tr *ngFor="let property of related.properties">
                  <td matTooltip="{{property.tooltip}}" matTooltipPosition="left">
                    {{property.name}}
                  </td>
                  <td [ngClass]="property.value ? 'circle available' : 'circle not-available'">
                  </td>
                </tr>
              </table>
            </div>
            <!-- end of available data -->

          </div>
          <!-- end of structure + available data -->
        </a>
      </div>
      <!-- end of ngIf -->
      <div class="clearfix" id="hidden" *ngIf="!((i+1) % 4)">.</div>
    </div>
    <!-- end of for loop over similar compounds -->
    <div class="clearfix"></div>

    <!-- Button to load more results -->
    <button *ngIf="num_results < similarityResults.length" id="more" (click)="showMore()" class="center-block">show more</button>
  </div>

</div>
