<!-- <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
<!-- VIS -->
<div id="vis" *ngIf="loggedIn; else log_in">
  <div class="row data-header">
    <div class="col-xs-9">
      <h3 id="data-title">Assay data
        <app-assay-dwnld *ngIf="assayData" [data]="assayData"></app-assay-dwnld>
    </h3>
    </div>


    <div class="col-xs-3">
      <!-- Assay tab panes -->
      <app-assay-type-btn *ngIf="assayTypes.length > 0" [assay_types]="assayTypes" (assayChanged)="onAssayChanged2($event)" (assayChanged)="onAssayChanged($event)"></app-assay-type-btn>
    </div>
  </div>

  <!-- Call D3 component -->

  <app-dot-plot *ngIf="filteredData" [data]="filteredData" [assay_domain]="assayDomain" (tooltipEmitter)="showTooltip($event)"></app-dot-plot>

  <!-- pagination -->
  <app-assay-pagination *ngIf="assayData" [data]="assayData" [current_assay]="currentAssay" (currentPage)="onPageChanged($event)"></app-assay-pagination>
  <app-cmpd-tooltip *ngIf="tooltipData" [dataObj]="tooltipData"></app-cmpd-tooltip>
</div>


<ng-template #log_in>
  <div class="row data-header">
    <div class="col-10">
      <h3 id="data-title">Assay data</h3>
      <div>
        <a class="accent-color subtitle login-req" href="">sign in to view activity data</a>
      </div>
    </div>
  </div>
</ng-template>
