.alias, .cmpd-source, .related  {
  padding-bottom: 3px;
  font-size: 0.75em;
}

.chem-source {
  font-size: 0.75em;
  opacity: 0.65;
  padding-left: 15px;
  margin-top: 50px;
}


.chem-props{
  margin-bottom: 6px;
}


.formula {
  font-size: 1.5em;
  color: #9ba4ae;
}

.chem-props-container {
  border-top: 1px #b7bec5 solid;
  border-bottom: 1px #b7bec5 solid;
  margin: 20px 0 15px;
  padding: 10px 0 2px;
}

.cmpd-header {
  margin-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #212529;
  overflow: hidden;
}

#cmpd-names td{
  vertical-align: top;
}


#cmpd-names td {
  /* white-space: -o-pre-wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap; */
    border: none;
    word-break: normal;
}



a {
  cursor: pointer;
}
