<!-- Chemical formula, InChIKey, SMILES -->
<div *ngIf="chemData.length > 0 && qid">

  <div class="formula text-center" *ngIf="formula">
    {{formula}}
  </div>

  <div class="chem-props-container">
    <h5>Chemical properties (<a href="{{'http://www.wikidata.org/entity/' + qid}}" target="_blank">Wikidata</a>)</h5>

    <div class="chem-props alias wikidata" *ngFor="let x of chemData">
      <div scope="row" class="title">{{ x['property'] }}</div>
      <div scope="row" class="wrap">
        <span *ngFor="let z of x['values']; let i = index;">
        {{z}}
      </span>
      </div>
    </div>

  </div>
</div>

<!-- Add in additional ID references -->
<div class="resource-ids" *ngIf="idData.length > 0 && qid">
  <div class="row">
    <div class="col-12">
      <h6>External Resources</h6>
    </div>
  </div>

  <div class="chem-ids alias row">
    <!-- template for the ID data -->
    <ng-template #id_div let-obj="obj">
      <div class="title" scope="row">{{obj['property']}}</div>

      <div scope="row">
        <ng-container [ngTemplateOutlet]="obj['url'] ? resource_link : no_link" [ngTemplateOutletContext]="{obj:obj}"></ng-container>

        <!-- If there's a URL provided for the resource from Wikidata, hyperlink out -->
        <ng-template #resource_link let-obj="obj">
          <span *ngFor="let id of obj['values']; let i = index">
            <a [href]="obj['url']" target="_blank">{{ id }}</a>
            <span class='data-separator' *ngIf="i + 1 < obj['values'].length"></span>
          </span>
        </ng-template>

        <!-- If there's no URL provided for the resource from Wikidata, don't hyperlink out -->
        <ng-template #no_link let-obj="obj">
          <span *ngFor="let id of obj['values']; let i = index">
            {{ id }}
            <span class='data-separator' *ngIf="i + 1 < obj['values'].length"></span>
          </span>
        </ng-template>
      </div>
    </ng-template>

    <div class="col-sm-6" id="left">
      <!-- Wikidata ID -->
      <div class="title" scope="row">Wikidata</div>
      <div scope="row">
        <a href="{{'http://www.wikidata.org/entity/' + qid}}" target="_blank">
            {{ qid }}
          </a>
      </div>

      <span *ngFor="let obj of idData | slice:0:idData.length/2; let i=index">
            <ng-container [ngTemplateOutlet]="id_div" [ngTemplateOutletContext]='{obj: obj}'>
            </ng-container>
        </span>
    </div>

    <div class="col-sm-6" id="right">
      <span *ngFor="let obj of idData | slice:idData.length/2:idData.length; let i=index">
          <ng-container [ngTemplateOutlet]="id_div" [ngTemplateOutletContext]='{obj: obj}'>
          </ng-container>
      </span>
    </div>

  </div>
</div>


<!-- If no wikidata data are available, use the information from the vendors -->
<!-- <ng-template #vendor_cheminfo>

  <div *ngIf="gvkData || informaData || integrityData">
    <h4>Chemical properties</h4>
  </div>

  <ng-container *ngIf='gvkData'>
    <div class="chem-props alias" *ngIf="gvkData.hasOwnProperty('smiles')">
      <div class="title" scope="row">SMILES (<a href="/#/about/#gvk" target="_blank">GVK Excelra GoStar</a>)</div>
      <div scope="row" class="smiles">
        {{ gvkData['smiles']}}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf='informaData'>
    <div class="chem-props alias" *ngIf="informaData.hasOwnProperty('smiles')">
      <div class="title" scope="row">
        SMILES (<a href="/#/about/#informa" target="_blank">Citeline Pharmaprojects</a>)</div>
      <div scope="row" class="smiles">
        {{informaData['smiles']}}
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf='integrityData'>
    <div class="chem-props alias" *ngIf="integrityData.hasOwnProperty('smiles')">
      <div class="title" scope="row">SMILES (<a href="/#/about/#integrity" target="_blank">Clarivate Integrity</a>)</div>
      <div scope="row" class="smiles">
        {{integrityData['smiles']}}
      </div>
    </div>
  </ng-container>


</ng-template> -->
