/* -- header -- */


.logo {
  display: -webkit-inline-box;
  border-right: 3px white solid;
}

.logo img {
  margin-top: 0px;
  width: 40px;
  vertical-align: top;
}

.name {
  display: -webkit-inline-box;
  margin-top: 7px;
  margin-left: 12px;
  margin-right: 12px;
}

.name a:hover {
  text-decoration: none;
}


header ul, footer ul {
  list-style-type: none;
}

header li, footer li {
  display: inline-block;
  opacity: 0.8;
  padding-left: 12px;
  padding-right: 12px;
}

.main-container {
  min-height: calc(100vh - 230px);
}


/* footer */

footer {
  border-top: 4px solid #7f9feb;
  margin-top: 6px;
  /* padding-top: 3px; */
  font-size: 1em;
  margin-top: 50px;
  margin-bottom: 6px;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logos {
  a {
    padding: 0 1em;
  }
}

.logo {
  margin-top: 4px;
  height: 50px;
  vertical-align: middle;
  transition: fill 0.5s;

  &.scripps-logo {
    .st0 {
      transition: fill 0.5s;
      fill: #FDB927;
    }

    &:hover {
      fill: #FDB927;

      .st0 {
        //fill: darken(#FDB927, 20);
      }
    }
  }

  &.calibr-logo {
    .st0 {
      transition: fill 0.5s;
      fill: #0D6E78;
    }

    &:hover {
      fill: #0D6E79;

      .st0 {
        //fill: darken(#0D6E79, 10);
      }
    }
  }
}

.gh {
  height: 20px;
  margin-top: -5px;
  margin-right: 6px;
}

.left-spacer {
  padding-left: 6px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  footer {
    flex-direction: column;
  }

  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
  }
}
