<http-loader></http-loader>

<!-- Header -->
<app-header></app-header>
<div class="ui menu">
  <!--<div class="header item borderless">-->
  <!--<app-mail-signup></app-mail-signup>-->
  <!--</div>-->
</div>

<!-- Content -->
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- Footer -->
<div class="container-fluid">
  <footer>
    <ul>
      <li>
        &copy; {{current_year}} <a class="left-spacer" href="http://sulab.org/" target="_blank">Su Lab</a>
      </li>

      <li></li>

      <li><a href="mailto:help@reframedb.org">help@reframedb.org</a></li>

      <li>
        <a href="https://www.scripps.edu/" target="_blank">
        <img class="gh" alt="The Scripps Research Institute" src="../assets/tsri.jpg"/>
        <span>The Scripps Research Institute</span></a>
      </li>

      <li>
        <a href="https://www.calibr.org/" target="_blank"><img class="calibr-logo" alt="The California Institute for Biomedical Research" src="../assets/calibr-logo.jpg" /></a>
      </li>

      <li>
        <a href="https://github.com/sebotic/repurpos.us" target="_blank"><img class="gh" alt="View code on GitHub repository" src="../assets/GitHub-Mark-32px.png" />
      view code</a>
      </li>

    </ul>
  </footer>
</div>
