<http-loader></http-loader>
<div class="ui menu">
  <header class="blue-fill">
    <div class="container-fluid">
      <div class="logo pull-left">
        <a href="/"><img src="../assets/logo-app.png" width="40px" /></a>

        <div class="name">
            <div class="site-name">
              <a href="/"><span class="bold">reframe</span><span class="thin">db</span></a>
            </div>

            <div class="site-subtitle">
              <a href="/"><span class="wide">open & extendable </span><span class="narrow">drug repurposing data</span></a>
            </div>
        </div>

      </div>

      <div class="links pull-right" [ngClass]="{'logout-wrap': loggedIn}">
        <ul>
          <li>
            <a href="">search</a>
          </li>
          <li>
            <a href="/#/assays">assays</a>
          </li>
          <li>
            <a href="/#/about">about</a>
          </li>
          <li class="sign-in">
            <a *ngIf="!loggedIn" (click)="showLogin()">sign in</a>
          </li>
        </ul>
        <div class="container-fluid reveal" [ngClass]="{'open': loginBox, 'logout': loggedIn, 'sign-in-box': !loggedIn}">
          <div class="pull-right float-right">
            <app-user-login></app-user-login>
          </div>
        </div>
      </div>


    </div>

    
  </header>

  <!--<div class="header item borderless">-->
  <!--<app-mail-signup></app-mail-signup>-->
  <!--</div>-->

  <!--<div class="header item borderless">-->
  <!--<app-auth></app-auth>-->
  <!--</div>-->



</div>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <!-- <menu-bar [items]="routeDef"></menu-bar> -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="container-fluid">
  <footer>
    <ul>
      <li>
        &copy; 2018 <a class="left-spacer" href="http://sulab.org/" target="_blank">Su Lab</a>
      </li>
      <li>

      </li>
      <li>
        <a href="https://www.scripps.edu/" target="_blank">
        <img class="gh" alt="The Scripps Research Institute" src="../assets/tsri.jpg"/>
        <span>The Scripps Research Institute</span></a>
      </li>
      <li>
        <a href="https://www.calibr.org/" target="_blank"><img class="calibr-logo" alt="The California Institute for Biomedical Research" src="../assets/calibr-logo.jpg" /></a>
      </li>

      <li>
        <a href="https://github.com/sebotic/repurpos.us" target="_blank"><img class="gh" alt="View code on GitHub repository" src="../assets/GitHub-Mark-32px.png" />
      view code</a>
      </li>

      <li>
        <a rel="license" href="https://creativecommons.org/share-your-work/public-domain/cc0/"><img alt="Creative Commons License" style="border-width:0" src="https://licensebuttons.net/l/publicdomain/80x15.png" /></a>.
      </li>
    </ul>
  </footer>
</div>
