// Assay tags
.assay-type {
  padding: 5px;
  text-transform: uppercase;
  // background: #b7bec5;
  // color: white;
  font-size: 0.9em;
  color: #212529;
}


.assay-name {
  // background: #e4e7e9;
  color: #212529;
  padding: 5px;
  position: relative;
  font-size: 0.9em;
  line-height: 2.1em;
}

a:hover {
  text-decoration: none;
}
