<div class="search row">
  <!-- <input type="text" placeholder="search"/>
  <button>send</button>
  < -->
  <!-- Search bar -->
  <div class="col-md-4 d-flex">
    <input type="text" class="search form-control" placeholder="search" autofocus [(ngModel)]="searchQuery" (keyup.enter)="onSubmit()" >

    <button mat-icon-button class='search-btn' (click)="onSubmit()">
      <mat-icon aria-label="search" color="accent" >search</mat-icon>
    </button>
  </div>



<!-- Example searches -->
  <div class="examples col-md-4">
    <h6>example queries</h6>
    <div class="ex-query" *ngFor="let example of examples">
      <a [routerLink]="['/search/']" [queryParams]="{ query: example.query, type: example.type }">
        <span class="ex-type">{{example.label}}</span>: {{example.description}}</a>
    </div>
  </div>

  <!-- <button mat-raised-button color="accent" class="pull-right">search</button> -->
</div>
