.title-plus-btn {
  display: inline-block;
}

.vendor-btn {
  margin: 10px 0;
  color: #7e8b98;
}

.header-title {
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.6;
  font-size: 0.85em;
}

.assay-title {
  padding-left: 15px;
}

.assay-name {
  // width: 50%;
}

.assay-table,
table#cmpd-names,
table.assay-table {
  width: 100%;
  // table-layout: fixed;
  border: none;
  margin-bottom: 50px;
}

td {
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: 1.2em;
  height: 40px;
}

.td-fit {
  width: 1px;
}

.content a, .assay-name {
  // padding-left: 15px;
}

.warning {
  color: #fd5457;
}
