<div class="container-fluid clearfix">

  <app-compound-header [results_per_page]='num_similar_per_page' [_location]="_location"></app-compound-header>

  <div class="row">
    <!-- LEFT COLUMN -->
    <div class="col-lg-4 pr-4">

      <div class="row">

        <!-- 2D structure -->
        <div class="col-lg-12 col-md-8 col-sm-6 col-xs-12">
          <app-struct2d [structure]="smiles" [smiles]="smiles" struct_type="smiles" *ngIf="smiles"></app-struct2d>
        </div>


        <!-- Chemical ids -->
        <div class="col-lg-12 col-md-4 col-sm-6 col-xs-12">
          <app-compound-wikidata-ids></app-compound-wikidata-ids>
        </div>
      </div>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-lg-8 pl-4">
      <!-- Assays -->
      <app-compound-assay-data></app-compound-assay-data>

      <!-- primary data-->
      <app-primary-screening-data></app-primary-screening-data>


      <!-- Wikidata -->
      <app-compound-wikidata></app-compound-wikidata>


      <!-- VENDOR DATA -->
      <app-compound-vendor-data></app-compound-vendor-data>

      <!-- Log-in default -->
      <div *ngIf="!loggedIn">
        <h3>Log in required to view additional data</h3>
        <div class="accent-color login-req">
          Please sign in to view activity data and compound annotation data from our commercial partners
        </div>
      </div>

      <app-available-data [availData]="cmpdAvailData" class="nodata" *ngIf="!loggedIn"></app-available-data>


    </div>
    <!-- end of right column -->

  </div>

  <!-- Reset the flow of the document so <app-similar-compounds>  is below the other sections-->
  <div class="clearfix">
  </div>

  <app-similar-compounds [results_per_page]='num_similar_per_page'></app-similar-compounds>

</div>
