h1 {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}


a {
  cursor: pointer;
}



.pull-right {
  margin-top: 15px;
}

/* Clearfix */
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.element {
  @include clearfix;
}
