h1 {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}


a {
  cursor: pointer;
}

// .flex-container {
//   width: 100%;
//   padding: 0;
//   margin: 0;
//   list-style: none;
//
//   display: -webkit-box;
//   display: -moz-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//
//   -webkit-flex-flow: column wrap;
//   // max-height: 500px;
//   flex-direction: column;
//   justify-content: space-around;
// }
//
// .flex-item {
//   padding: 5px;
//   height: 150px;
//   margin-top: 10px;
//
//   line-height: 150px;
//   color: white;
//   font-weight: bold;
//   font-size: 3em;
//   text-align: center;
// }
//
// .left {
//   width: 33%;
//   background: yellow;
// }
//
// .right {
//   width: 67%;
//   background: tomato;
// }


.float-right {
  margin-top: 15px;
}

/* Clearfix */
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.element {
  @include clearfix;
}
