<div class="container-fluid">


  <div class="row-fluid pull-right">
    <a href="#search">
      << return to search</a>
  </div>


  <!-- header: name, aliases -->
  <div class="cmpd-header">
    <div class="row-fluid">
      <div id="cmpd-names" class="col-md-4 col-sm-6 col-xs-12">
        <div class="row-fluid cmpd-name">
          <h1>{{ label }}</h1>
        </div>
      </div>

      <div id="cmpd-names" class="col-md-8 col-sm-6 col-xs-12">
        <div class="row-fluid who-name" *ngFor="let x of idData">
          <span *ngIf="x['property'] == 'World Health Organisation International Nonproprietary Name'">
            <b>{{x['property'] + ': ' }}</b><span *ngFor="let ii of x['values']">{{ ii }}</span></span>
        </div>

        <div class="row-fluid alias" *ngIf="concat_aliases">
          <span><b>Aliases: </b></span>{{ concat_aliases }}
        </div>
      </div>
    </div>
  </div>



  <div class="row-fluid">
    <!-- left column -->
    <div class="col-md-4">

      <!-- PubChem 3D structure -->
      <app-ngl></app-ngl>

      <!-- Chemical ids -->
      <div class="chem-props alias" *ngFor="let x of table_data">
        <!-- TODO: transfer to <in>? Change struct of incoming data? -->
        <span *ngIf="x['property'] == 'chemical formula' || x['property'] == 'InChI' || x['property'] == 'InChIKey' || x['property'] == 'canonical SMILES'">
        <div class="title" scope="row">{{ x['property'] }}</div>
        <div scope="row"><span id="{{x['qids'][i]}}" *ngFor="let z of x['values']; let i = index;">{{z}}
          </span>

      </div>
      </span>
    </div>
    <!-- Add in additional ID references -->
    <div class="chem-ids alias">
      <div class="title" scope="row">Wikidata</div>
      <div scope="row">
        <a href="{{'http://www.wikidata.org/entity/' + qid}}">{{qid}}</a>
      </div>

      <span *ngFor="let x of idData">
    <div class="title" scope="row">{{x['property']}}</div>

    <div scope="row">
    <span *ngFor="let ii of x['values']">{{ ii }}</span>
    </div>
    </span>
  </div>
</div>

<!-- right column -->
<div class="col-md-8">

  <!-- Assays -->
  <div id='assays'>
    <div *ngIf="loggedIn; else login_assay">
      <div *ngIf="assayData.length > 0">
        <h3>Activity data</h3>
        <table class="cmpd-table">
          <tr>
            <th class="title assay-name">Assay type</th>
            <th class="title">Activity type</th>
            <th class="title">Source</th>
            <th class="title">Measurement</th>
          </tr>


          <tr *ngFor="let x of assayData">
            <td><a href="#/{{x['assay_id']}}">{{x['assay_title']}}</a></td>
            <td>{{x['activity_type']}}</td>
            <td>
              <a href="https://www.calibr.org/" target="_blank">Calibr</a>
            </td>
            <td>{{x['ac50'].toExponential(2)}}</td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Log-in default -->
    <ng-template #login_assay>
      <h3>Activity data</h3>
      <a class="accent-color login-req" href="">sign in to view activity data</a>
    </ng-template>

    <!-- Log-in default -->
    <ng-template #login_vendor>
      <h3>Pharmacological and Biological data</h3>
      <a class="accent-color login-req" href="">sign in to view compound annotation data from our commercial partners</a>
    </ng-template>

  </div>




  <div id="wikidata">
    <H3>Chemical properties</H3>
    <table class="table cmpd-table">

      <tr *ngFor="let x of table_data">
        <ng-container *ngIf="x['property'] != 'InChI' && x['property'] != 'InChIKey' && x['property'] != 'canonical SMILES'">
          <td class="title" scope="row">{{ x['property'] }}</td>
          <td scope="row"><span id="{{x['qids'][i]}}" *ngFor="let z of x['values']; let i = index;">{{z}}
        <!-- <span *ngIf="!x['showMore']"></span> -->
            <span *ngIf="i + 1 < x['values'].length" class='data-separator'></span>
            <!-- <span *ngIf="x['showMore']">
              <app-show-more-button [qid]="x['qids'][i]" [pid]="x['pid']" [mainQID]="qid"></app-show-more-button>

            </span> -->
            </span>
            <!--<app-edit-item></app-edit-item>-->
          </td>
        </ng-container>
      </tr>

    </table>
  </div>
  <!--<div *ngIf="gvkData.length > 0">-->
  <!--<H3>Compound class</H3>-->
  <!--<table class="table table-bordered" *ngFor="let x of gvkData">-->
  <!--<tr>-->
  <!--<td>Category</td>-->
  <!--<td><span (click)="showMore($event)" id={{y}} *ngFor="let y of x['category']; let i = index ;">{{y['label']}}<span class="reference">{{y['ref'] === 'GVK' ? '[1]' : y['ref'] === 'Integrity' ? '[2]' : y['ref'] === 'Informa' ? '[3]' : ''}}</span>{{i + 1 < x['category'].length ? '; ' : ''}}</span></td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--<td>Mechanism of Action</td>-->
  <!--<td><span *ngFor="let y of x['mechanism']; let i = index">{{y['label']}}<span class="reference">{{y['ref'] === 'GVK' ? '[1]' : y['ref'] === 'Integrity' ? '[2]' : y['ref'] === 'Informa' ? '[3]' : ''}}</span>{{i + 1 < x['mechanism'].length ? '; ' : ' '}}</span></td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--<td>Phase</td>-->
  <!--<td><span *ngFor="let y of x['phase']; let i = index">{{y['label']}}<span class="reference">{{y['ref'] === 'GVK' ? '[1]' : y['ref'] === 'Integrity' ? '[2]' : y['ref'] === 'Informa' ? '[3]' : ''}}</span>{{i + 1 < x['phase'].length ? '; ' : ' '}}</span></td>-->
  <!--</tr>-->
  <!--<tr>-->
  <!--<td>Route of Administration</td>-->
  <!--<td><span *ngFor="let y of x['drug_roa']; let i = index">{{y['label']}}<span class="reference">{{y['ref'] === 'GVK' ? '[1]' : y['ref'] === 'Integrity' ? '[2]' : y['ref'] === 'Informa' ? '[3]' : ''}}</span>{{i + 1 < x['drug_roa'].length ? '; ' : ' '}}</span></td>-->
  <!--</tr>-->
  <!--</table>-->
  <!--</div>-->

  <div id="vendor-data" *ngIf="loggedIn; else login_vendor">
    <div *ngFor="let yy of [gvkData, integrityData, informaData]; let k = index;">
      <div *ngIf="yy[0] && (yy[0].mechanism || yy[0].category)">
        <H3>{{vendors[k]}}</H3>
        <table class="table cmpd-table" *ngFor="let x of yy">
          <tr *ngIf="x && x.hasOwnProperty('category') && x['category'].length > 0">
            <td class="title">Category</td>
            <td><span (click)="showMore($event)" id={{y}} *ngFor="let y of x['category']; let i = index ;">{{y}}<span *ngIf="i + 1 < x['category'].length" class='data-separator'></span></span>
            </td>
          </tr>
          <tr *ngIf="x && x.hasOwnProperty('mechanism') && x['mechanism'].length > 0">
            <td class="title">Mechanism of Action</td>
            <td><span *ngFor="let y of x['mechanism']; let i = index">{{y}}<span *ngIf="i + 1 < x['mechanism'].length" class='data-separator'></span></span>
            </td>
          </tr>
          <tr *ngIf="x && x.hasOwnProperty('phase') && x['phase'].length > 0">
            <td class="title">Phase</td>
            <td><span *ngFor="let y of x['phase']; let i = index">{{y}}<span *ngIf="i + 1 < x['phase'].length" class='data-separator'></span></span>
            </td>
          </tr>

          <tr *ngIf="x && x.hasOwnProperty('roa') && x.hasOwnProperty('roa') && x['roa'].length > 0">
            <td class="title">Route of Administration</td>
            <td><span *ngFor="let y of x['roa']; let i = index">{{y}}<span *ngIf="i + 1 < x['roa'].length" class='data-separator'></span></span>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>

  <!--<h4>Data Sources:</h4>-->
  <!--<div class="footnote">[1] GVK BioSciences Inc.</div>-->
  <!--<div class="footnote">[2] Thomson Reuters Integrity</div>-->
  <!--<div class="footnote">[3] Informa Pharma</div>-->
</div>
</div>
</div>
<!-- <div class="col-md-4">
  <app-ngl></app-ngl>

</div>
<div class="col-md-4">
  <app-indications-graph [sdata]="graphData"></app-indications-graph>
</div> -->



<!--
<div class="container-fluid centered">
  <div class="row-fluid centered">
    <div class="col-md-8 col-md-offset-2">
      <app-interaction-table
      [sdata]="tableData"
      &gt;</app-interaction-table>
    </div>
  </div>
</div> -->
