.ketcher {
  width: 80%;
  padding: 0px;
  margin: auto;
}

.ketcher-iframe {
  width:100%;

  border-style: none;
  min-width: 500px;
  min-height: 500px;
  /* style="min-width:910px;min-height:510px;width:100%;border-style:none"  from ketcher*/
}

h6 {
  margin-bottom: 0;
}

.examples {
  float: right;
}

.ex-type {
  text-decoration: underline;
}

.ex-query {
  font-size: 0.85em;
}
