.ketcher {
  width: 80%;
  padding: 0px;
  margin: auto;
}

@media only screen and (max-width: 900px) {
  .ketcher{
    margin: 15px;
    width: 100%;
  }

}

.ketcher-iframe {
  width:100%;

  border-style: none;
  min-width: 500px;
  min-height: 500px;
  /* style="min-width:910px;min-height:510px;width:100%;border-style:none"  from ketcher*/
}
