/* .d3-chart {	  width: 100%;	  height: 400px;	}
.d3-chart .axis path,	.d3-chart .axis line {	  stroke: #999;	}
.d3-chart .axis text {	  fill: #999;	} */

/* Container */
#dotplot-container {
  position: relative;
  width: 100%;
  height: 400px;
}


/* links */

.y-link {
  font-size: 1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  fill: #212529b0;
  dominant-baseline: middle;
  /* dominant-baseline: mathematical; */
  text-anchor: end;
}

.y-link:hover {
    text-decoration: none;
}

.cmpd-link {
  fill: white;
  stroke: none;
  opacity: 0;
}

.pointer {
  cursor: pointer;
}

.pointer:hover{
  text-decoration: underline;
}


/* Dot styling */

.assay-avg {
  stroke: #212529;
  stroke-width: 0.4;
  stroke-opacity: 1;
}

.assay-val {
  stroke: #212529;
  stroke-width: 0.4;
  fill: #c5c9ce;
}

.lollipop {
  stroke: #21252940;
}

/* Axes */

.axis--x .tick text {
  font-size: 1em;
  fill: #212529;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 300;
}

.axis path {
  stroke: #212529;
  fill: none;
  stroke-width: 0.4px;
}

.axis--y path, .axis--y line {
  display: none;
}

/* ticks & grid lines */

.axis line {
  stroke: #212529;
  fill: none;
  stroke-width: 0.8px;
}

.axis .minor line {
  stroke-width: 1px;
  stroke: #212529;
  stroke-width: 0.4px;
  stroke: red;
  opacity: 0.4;
}

/* annotations */

.annotation--x {
  font-weight: 400;
  font-family: "Lato", Arial, sans-serif;
  font-size: 1.5em;
  opacity: 0.2;
  text-transform: uppercase;
}

.annotation-right {
  text-anchor: end;
}
