<!-- <h1 ><span class="bold">reframe</span><span class="thin">db</span></h1> -->
<div class="intro">
  <span class="bold">reframe</span><span class="thin">db</span> is a screening library of 12,000 molecules assembled by combining
  three databases (Clarivate Integrity, GVK Excelra GoStar and Citeline Pharmaprojects) to facilitate drug repurposing.
</div>

<div class="capabilities">
  Search the database for:
  <ul>
    <li>
      pharmaceutical and biological properties of the library, plus additional data on compounds not in the collection
    </li>
    <li>
      screening data for select compounds which responded in specific <a routerLink="/assays">assays</a>
    </li>
  </ul>
</div>

<app-compound-search></app-compound-search>
