/* Pagination */

ul.nav-tabs {
  margin-top: -20px;
  border: none;
}


.page-link, .nav-tabs>li>a {
  color: #8d98a3;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 0px;
  margin-bottom: 8px;
  border-left-width: 0px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 4px;
  border-color: white;
  cursor: pointer;
}

.page-link:focus, .page-link:hover {
    color: #FD5457;
}


.page-selected, .page-link:focus {
  color: #FD5457 !important;
  border-color: #FD5457 !important;
  background-color: transparent !important;
}
