.user-form-container {
  display: flex;
  flex-direction: column;
}

/*.user-form-container > * {*/
  /*width: 30%;*/
/*}*/

.btn-xs {
  color: #2968ed;
}

.captcha {
  padding-top: 10px;
  padding-bottom: 20px;

  margin-left: auto;
  margin-right: auto;
}

.terms {
	padding-bottom: 20px;
	cursor: pointer;
}

.form-group {
  display: flex;
  justify-content: space-between;
}
