<h2>User registration</h2>
<div mat-dialog-content>

<form (ngSubmit)="onSubmit($event)" [formGroup]="form" [hidden]="regSuccess">
  <div class="user-form-container">
    <div class="form-group" formGroupName="name">
      <mat-form-field>
        <input matInput placeholder="First Name" id="firstName"
               required
               name="firstName"
               formControlName="firstName"
               >
        <!--<mat-error *ngIf="form['controls'].name['controls'].firstName.errors && !form['controls'].name['controls'].firstName.pristine" [hidden]="!form['controls'].name['controls'].firstName.errors.required">Name is required</mat-error>-->
        <mat-error *ngIf="form['controls'].name['controls'].firstName.errors  && !form['controls'].name['controls'].firstName.pristine"
                   [hidden]="!form['controls'].name['controls'].firstName.hasError('minLength')">Name too short</mat-error>

      </mat-form-field>
        <!--<span *ngIf="form['controls'].name['controls'].firstName.errors && !form['controls'].name['controls'].firstName.pristine" class="mat-error">-->
        <!--</span>-->
      <mat-form-field>
        <input matInput placeholder="Last Name" id="lastName"
               required
                name="lastName"
               formControlName="lastName"
               >
        <mat-error *ngIf="form['controls'].name['controls'].lastName.errors  && !form['controls'].name['controls'].lastName.pristine"
                   [hidden]="!form['controls'].name['controls'].lastName.hasError('minLength')">Name too short</mat-error>
      </mat-form-field>
    </div>


    <mat-form-field>
      <input matInput placeholder="Email Address (Your User Name)"
             formControlName="email"
             required
             id="email"
             name="email">

      <mat-error *ngIf="form['controls'].email.errors && !form['controls'].email.pristine">{{getErrorMessage()}}</mat-error>
    </mat-form-field>


    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Phone" class="form-control" id="phone"-->
             <!--[(ngModel)]="user.phone" name="phone"-->
             <!--#name="ngModel">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Institution" class="form-control" id="institution"-->
             <!--required-->
             <!--[(ngModel)]="user.institution" name="institution"-->
             <!--#name="ngModel">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Address" class="form-control" id="address"-->
             <!--required-->
             <!--[(ngModel)]="user.address" name="address"-->
             <!--#name="ngModel">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="City" class="form-control" id="city"-->
             <!--required-->
             <!--[(ngModel)]="user.city" name="city"-->
             <!--#name="ngModel">-->
    <!--</mat-form-field>-->

    <!--<mat-form-field>-->
      <!--<input matInput placeholder="Zip Code" class="form-control" id="zipCode"-->
             <!--required-->
             <!--[(ngModel)]="user.zipCode" name="zipCode"-->
             <!--#name="ngModel">-->
    <!--</mat-form-field>-->

    <div class="form-group" formGroupName="password">
    <mat-form-field>
      <input matInput placeholder="Password" id="password" [type]="'password'"
             required
             name="password"
             formControlName="password"
             >
      <mat-error *ngIf="form['controls'].password['controls'].password.errors
                        && !form['controls'].password['controls'].password.pristine"
                 [hidden]="!form['controls'].password['controls'].password.hasError('minLength')"
      >8 characters minimum</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Confirm Password" id="confirmPassword" [type]="'password'"
             required
             formControlName="confirmPassword"
             name="confirmPassword"
             >
      <mat-error *ngIf="form['controls'].password['controls'].confirmPassword.errors
                        && !form['controls'].password['controls'].confirmPassword.pristine"
                 [hidden]="!form['controls'].password['controls'].confirmPassword.hasError('MatchPassword')"
      >Passwords don't match!</mat-error>
    </mat-form-field>
    </div>
    <div class="terms">
      By creating an account, you are agreeing to the <a (click)="openTerms()">Terms of Use.</a>
    </div>
    <div class="captcha">
      <re-captcha (resolved)="resolved($event)" siteKey="6Le2wTsUAAAAAO-xiYenSNSONc4uNRB89fVOV0Lc"></re-captcha>
    </div>
    <button mat-raised-button color="primary" [disabled]="form.invalid || !recaptchaToken" type="submit" [formGroup]="form">Submit</button>
  </div>

</form>
<p *ngIf="loginResponse" class="text-danger">{{ loginResponse }}</p>
</div>
