/*@import './app/vendor/semantic.min.css';*/

/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
/*@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';*/
/*@import '~@angular/material/prebuilt-themes/purple-green.css';*/
/*@import 'https://fonts.googleapis.com/icon?family=Material+Icons';*/

/*.ui.menu .item img.logo {*/
  /*margin-right: 1.5em;*/
/*}*/

/*form.ui.segment.form {*/
  /*background-color: #F1F9FF;*/
  /*margin-top: 2em;*/
/*}*/

/*form.form:after {*/
  /*content: '';*/
  /*display: block;*/
  /*height: 0;*/
  /*clear: both;*/
  /*visibility: hidden;*/
/*}*/

/*.votes {*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*background-color: #E6E6E6;*/
  /*padding: 1em 0;*/
  /*border-radius: 5px;*/
/*}*/

/*.ui.grid.posts {*/
  /*margin-top: 2em;*/
/*}*/

/*.meta {*/
  /*color: #9A9A9A*/
/*}*/

/*.ui.grid>.row>.column.votes {*/
  /*display: flex;*/
/*}*/

/*ul.ui.list li:before {*/
  /*content: '';*/
/*}*/

/*.voters {*/
  /*clear: both;*/
  /*width: 100%;*/
/*}*/

/*make sure the material design modal dialog does not display a scrollbar, as this moves the content each time the
modal dialog is being displayed. This could have side effects for other material design components using
cdk-global-scrollblock!!
*/
html.cdk-global-scrollblock {
  /*background-color: #0d71bb;*/

  overflow: hidden;
  position: fixed;
  z-index: 1000;
}
