/deep/ .mat-tab-body.mat-tab-body-active {
  overflow-y: hidden;
}

.accordion-title {
  color: #fc5457c7;
  font-size: 1.2em;
}


h6 {
  margin-bottom: 0;
}

.examples {
  float: right;
  margin-left: 10px;
}

.ex-type {
  text-decoration: underline;
}

.ex-query {
  font-size: 0.85em;
}
