<mat-accordion class="ketcher-accordion">

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
  hideToggle="panelOpenState" [disabled]="!pressed" [expanded]="panelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ !pressed ? '' : panelOpenState ? 'Hide search options' : 'Show search options' }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Search options -->
    <app-structure-search-options></app-structure-search-options>
    <!-- <app-structure-search-options [structure_query] = "structureQuery"></app-structure-search-options> -->

    <!-- Example searches -->
    <div class="search examples">
      <h6>example queries</h6>
      <div class="ex-query" *ngFor="let example of examples">
        <a [routerLink]="['.']" [queryParams]="{ query: example.query, type: example.type, mode: example.mode, tanimoto: example.tanimoto }">
          <!-- <a -->
          <span class="ex-type">{{example.label}}</span>: {{example.description}}</a>
      </div>
    </div>

    <!-- Ketcher-based structure drawing input -->
    <app-ketcher></app-ketcher>

  </mat-expansion-panel>
</mat-accordion>
