<div class="cmpd-header">

  <!-- Back button -->
  <div class="row-fluid pull-right">
    <a (click)="backClick()">
      << return to search</a>
  </div>

  <!-- HEADER: name, aliases -->
<div>
  <div class="row-fluid">

    <!-- Drug Name -->
    <div id="cmpd-names" class="col-md-4 col-sm-6 col-xs-12">
      <div class="row-fluid cmpd-name">
        <h1>{{ label }}</h1>
      </div>

      <!-- Reframe compound / vendor info -->
      <!-- TODO: switch RFM ID to boolean -->
      <table class="reframe_cmpd" *ngIf="reframeID && reframeID.length > 0">
        <td class='rfm-circle circle available'>
        </td>
        <td class="rfm-circle">
          <span class="bold">reframe</span><span class="thin">db</span> screening collection compound
        </td>
      </table>

      <div class="row-fluid cmpd-source" *ngIf="chemVendors.length > 0">
        available via <span *ngFor="let vendor of chemVendors; let i = index;">
          {{ vendor['chem_vendor'] }}
          <span *ngIf="vendor['chem_vendor_id']">({{ vendor['chem_vendor_id'] }})</span>
        <span class='data-separator' *ngIf="i + 1 < chemVendors.length"></span></span>
      </div>

      <!-- Matching warning -->
      <!-- <div class="row-fluid"> -->
      <div class="warning accent-color">
        <span class="underline">Note</span>: counterions may differ between data sources.
        <app-salt-warning-dialog></app-salt-warning-dialog>
      </div>
      <!-- </div> -->
    </div>

    <!-- WHO Name -->
    <div id="cmpd-names" class="col-md-8 col-sm-6 col-xs-12">
      <div class="row-fluid who-name" *ngIf="whoName">
          <b>World Health Organisation International Nonproprietary Name:</b>
          {{ whoName }}
      </div>

      <!-- Aliases -->
      <div class="row-fluid alias" *ngIf="aliases.length > 0">
        <b>Aliases: </b>
        <span *ngFor="let alias of aliases | slice:0:alias_ct; let i=index;">
          {{alias}}
          <span *ngIf="i + 1 < alias_ct && i + 1 < aliases.length" class='data-separator'></span></span>

        <a *ngIf="alias_ct < aliases.length" id="more" (click)="showMore()" class="center-block">
            show more
          </a>
      </div>





      <!-- Related compounds -->
      <div class="row-fluid related" *ngIf="similarityResults && similarityResults.length > 0">
        <b>Similar compounds: </b>
        <span *ngFor="let related of similarityResults | slice: 0:results_per_page; let i=index;"><a (click)="onAnchorClick(related.id)">{{related.main_label}}</a><span *ngIf="i + 1 < similarityResults.length" class='data-separator'></span></span>
        <span *ngIf="similarityResults.length > results_per_page"><a (click)="onAnchorClick('more')">more</a></span>
      </div>



    </div>

  </div>

</div>
</div>
