h1 {
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
}

.alias,
.cmpd-source,
.related {
  padding-bottom: 3px;
  font-size: 0.75em;
}

.cmpd-name {
  margin-bottom: 5px;
}
// Chem source
.cmpd-source {
  opacity: 0.75;
  margin-left: 30px;
  margin-bottom: 25px;
}
/* Binary buttons if available */
.avail-table,
.reframe_cmpd {
  width: 100%;
}

.rfm-circle,
td {
  vertical-align: baseline;
  text-align: left;
}

td.circle {
  margin-right: 10px;
}

.chem-props {
  margin-bottom: 6px;
}

.title {
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.6;
  font-size: 0.85em;
}

.cmpd-header {
  margin-top: 12px;
  padding-bottom: 25px;
  margin-bottom: 45px;
  border-bottom: 10px #d3d7dc solid;
  overflow: hidden;
  position: relative;
}

.assay-name {
  width: 33%;
}

a {
  color: #3D6DE0 !important;
  cursor: pointer;
}

div#cmpd-names {
  position: inherit;
}

.warning {
  position: absolute;
  bottom: 10px;
  font-size: 0.8em;
}

.float-right {
  margin-top: 15px;
}

.underline {
  text-decoration: underline;
}
