<h2>Terms of Use</h2>

<div mat-dialog-content id="gvk">
  <div class="vendor">
    <h3>GVK-Excelra GOSTAR</h3>
    <p>
      These Terms govern your use of any Excelra Gostar data on <a routerLink="/">reframedb.org</a>. Any other use of the data without the express written permission of Excelra Gostar is strictly prohibited.
    </p>
    <ol>
      <li>Ownership.
        <ol type="a">
          <li>The Excelra Gostar data you are accessing contains proprietary copyright material owned by Excelra Knowledge Solutions Pvt. Ltd. and its affiliates (“we”, “us”, “our” or “Excelra”) or our third party licensors. Together with our licensors, we
            maintain all ownership, tangible or intangible, of our products, services, and data.</li>
          <li>'Excelra Gostar' and the product name are trade or service marks of Excelra or its affiliated companies. All other product and service names cited are trademarks of their respective owners.</li>
        </ol>
      </li>
      <li>Rights of Use
        <ol type="a">
          <li>You may view and use our data for non-commercial academic and nonprofit use only. Further, if you have registered with Calibr you may also download and print our data provided you may not store content that you print or download for longer than
            12 months</li>
          <li>If the data is from third parties, you must also comply with any additional terms we are required to pass through to you. Please refer to our third party terms available at <a href="https://gostardb.com/gostar/subscription/eval/TermsConditions.jsp#terms"
              target="_blank" rel="noreferrer">https://gostardb.com/gostar/subscription/eval/TermsConditions.jsp#terms</a>.</li>
          <li>Display, performance, reproduction, distribution of, or creation of derivative works or improvements from the content in any form or manner is expressly prohibited, except to the extent expressly permitted by these Terms, with the prior written
            permission of Excelra. If you have questions on your use rights you should contact our Global Customer Support Center.</li>
        </ol>
      </li>
      <li>Privacy. By accessing and using our data you are consenting to our receiving and using your personally identifiable information in accordance with our privacy policies. Please refer to our Privacy Statement available at <a href="https://gostardb.com/gostar/subscription/eval/TermsConditions.jsp#terms"
          target="_blank" rel="noreferrer">https://gostardb.com/gostar/subscription/eval/TermsConditions.jsp#terms</a></li>
      <li>Warranty and Liability
        <ol type="a">
          <li>YOUR ACCESS TO AND USE OF THE EXCELRA CONTENT IS ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY REPRESENTATION OR WARRANTY, INCLUDING OF PERFORMANCE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY, COMPLETENESS AND CURRENTNESS.
            WE ARE NOT PROVIDING ANY ADVICE BY ALLOWING YOU TO ACCESS AND USE OUR DATA. YOUR INTERPRETATIONS OF OUR DATA ARE YOUR OWN FOR WHICH YOU HAVE FULL RESPONSIBILITY.</li>
          <li>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAWS, IN NO EVENT WILL EXCELRA OR ITS THIRD PARTY LICENSORS BE LIABLE FOR ANY DAMAGES, INCLUDING WITHOUT LIMITATION DIRECT OR INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, LOSSES OR EXPENSES
            ARISING OUT OF ANY PROVISION OF THESE TERMS, OR THE USE OF OR INABILITY TO USE THE EXCELRA DATA, EVEN IF EXCELRA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</li>
        </ol>
      </li>
    </ol>
  </div>

  <div class="vendor" id="integrity">
    <h3>Clarivate Integrity</h3>

    <p>
      These Terms govern your use of any Clarivate Analytics data on <a routerLink="/">reframedb.org</a>. Any other use of the data without the express written permission of Clarivate Analytics is strictly prohibited.
    </p>
    <ol>
      <li>Ownership.
        <ol type="a">
          <li>The Clarivate Analytics data you are accessing contains proprietary copyright material owned by Clarivate Analytics (US) LLC and its affiliates (“we”, “us”, “our” or “Clarivate”) or our third party licensors. Together with our licensors, we
            maintain all ownership, tangible or intangible, of our products, services, and data.</li>
          <li>'Clarivate Analytics' and the product name are trade or service marks of Clarivate or its affiliated companies. All other product and service names cited are trademarks of their respective owners.</li>
        </ol>
      </li>
      <li>Rights of Use
        <ol type="a">
          <li>You may view and use our data for non-commercial academic and nonprofit use only. Further, if you have registered with Calibr you may also download and print our data provided you may not store content that you print or download for longer than
            12 months</li>
          <li>If the data is from third parties, you must also comply with any additional terms we are required to pass through to you. Please refer to our third party terms available at <a href="http://terms.clarivate.com" target="_blank" rel="noreferrer">http://terms.clarivate.com</a>.</li>
          <li>Display, performance, reproduction, distribution of, or creation of derivative works or improvements from the content in any form or manner is expressly prohibited, except to the extent expressly permitted by these Terms, with the prior written
            permission of Clarivate. If you have questions on your use rights you should contact our Global Customer Support Center.</li>
        </ol>
      </li>
      <li>Privacy. By accessing and using our data you are consenting to our receiving and using your personally identifiable information in accordance with our privacy policies. Please refer to our Privacy Statement available at <a href="http://terms.clarivate.com"
          target="_blank" rel="noreferrer">http://terms.clarivate.com</a></li>
      <li>Warranty and Liability
        <ol type="a">
          <li>YOUR ACCESS TO AND USE OF THE CLARIVATE CONTENT IS ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY REPRESENTATION OR WARRANTY, INCLUDING OF PERFORMANCE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY, COMPLETENESS AND CURRENTNESS.
            WE ARE NOT PROVIDING ANY ADVICE BY ALLOWING YOU TO ACCESS AND USE OUR DATA. YOUR INTERPRETATIONS OF OUR DATA ARE YOUR OWN FOR WHICH YOU HAVE FULL RESPONSIBILITY.</li>
          <li>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAWS, IN NO EVENT WILL CLARIVATE OR ITS THIRD PARTY LICENSORS BE LIABLE FOR ANY DAMAGES, INCLUDING WITHOUT LIMITATION DIRECT OR INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, LOSSES OR
            EXPENSES ARISING OUT OF ANY PROVISION OF THESE TERMS, OR THE USE OF OR INABILITY TO USE THE CLARIVATE DATA, EVEN IF CLARIVATE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</li>
        </ol>
      </li>
    </ol>
  </div>

  <div class="vendor" id="informa">
    <h3>Citeline Pharmaprojects</h3>
    <p>
      These Terms govern your use of any Informa Citeline data on <a routerLink="/">reframedb.org</a>. Any other use of the data without the express written permission of Informa is strictly prohibited.
    </p>
    <ol>

      <li>
        Ownership.
        <ol type="a">
          <li>The Informa data you are accessing contains proprietary copyright material owned by Informa PLC (UK) Limited and its affiliates (“we”, “us”, “our” or “Citeline”) or our third party licensors. Together with our licensors, we maintain all ownership,
            tangible or intangible, of our products, services, and data.</li>
          <li>
            'Informa Citeline' and the product name are trade or service marks of Informa or its affiliated companies. All other product and service names cited are trademarks of their respective owners.</li>
        </ol>
      </li>
      <li>Rights of Use
        <ol type="a">
          <li>You may view and use our data for non-commercial academic and nonprofit use only.</li>
          <li>If the data is from third parties, you must also comply with any additional terms we are required to pass through to you. Please refer to our third party terms available at <a href="https://pharmaintelligence.informa.com/products-and-services/data-and-analysis/pharmaprojects"
              target="_blank" rel="noreferrer">[Informa website]</a>.</li>
          <li>Display, performance, reproduction, distribution of, or creation of derivative works or improvements from the content in any form or manner is expressly prohibited, except to the extent expressly permitted by these Terms, with the prior written
            permission of Informa. If you have questions on your use rights you should contact our Global Customer Support Center.</li>
        </ol>
      </li>
      <li>Privacy. By accessing and using our data you are consenting to our receiving and using your personally identifiable information in accordance with our privacy policies. Please refer to our Privacy Statement available at <a href="https://pharmaintelligence.informa.com/products-and-services/data-and-analysis/pharmaprojects"
          target="_blank" rel="noreferrer">[Informa website]</a></li>
      <li>Warranty and Liability
        <ol type="a">
          <li>YOUR ACCESS TO AND USE OF THE INFORMA CONTENT IS ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY REPRESENTATION OR WARRANTY, INCLUDING OF PERFORMANCE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY, COMPLETENESS AND CURRENTNESS.
            WE ARE NOT PROVIDING ANY ADVICE BY ALLOWING YOU TO ACCESS AND USE OUR DATA. YOUR INTERPRETATIONS OF OUR DATA ARE YOUR OWN FOR WHICH YOU HAVE FULL RESPONSIBILITY.</li>
          <li>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAWS, IN NO EVENT WILL INFORMA OR ITS THIRD PARTY LICENSORS BE LIABLE FOR ANY DAMAGES, INCLUDING WITHOUT LIMITATION DIRECT OR INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, LOSSES OR EXPENSES
            ARISING OUT OF ANY PROVISION OF THESE TERMS, OR THE USE OF OR INABILITY TO USE THE INFORMA DATA, EVEN IF INFORMA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</li>
        </ol>
      </li>
    </ol>
  </div>
</div>
