<div mat-dialog-content>
  <h4>How data from different sources were combined</h4>
  <p class="summary">
    To aid in comparing data between data sources, compounds were combined if they contained the same primary ingredient.
  </p>
  <p>
    If there was more than one compound in the SMILES string, the primary ingredient was isolated by first splitting the compound's SMILES string into separate components.
    The primary ingredient was identified by comparing the frequency of the components to the rest of the Reframe collection; the more frequent components under 194 Daltons were deemed to be counterions and removed.
  </p>
  <p>
    Compounds from different data sources were combined if they shared the same InChI key for the primary ingredient, after normalizing tautomers and protonation states.
  </p>
  <p>
    No stereoisomers (or unknown stereochemistry) were combined. In a small number of cases, manual inspection was used to resolve edge cases.
  </p>
  <p>
    To determine the precise form of the compound for each data source, look at the SMILES string listed.
  </p>
  <button class="mat-raised-button" (click)="close()" aria-label="close dialog box on how data sources were combined">close</button>
</div>
