<div mat-dialog-content>
  <h4>How data from different sources were combined</h4>
  <p class="summary">
    To aid in comparing data between data sources, compounds were combined if they contained the same primary ingredient.
  </p>
  <p>
    Primary ingredients were identified by desalting the compound's SMILES string and normalizing tautomers and protonation states.
  </p>
  <p>
    No stereoisomers (or unknown stereochemistry) were combined.
  </p>
  <p>
    To determine the precise form of the compound for each data source, look at the SMILES string listed.
  </p>
  <button class="mat-raised-button" (click)="close()">close</button>
</div>
