body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a, a.dwnld-link:hover {
  color: #3D6DE0;
}

.accent-color {
  color: #fd5457;
}


.title {
  width: 85%;
}

.subtitle {
  font-size: 20px;
}

.assay-id, .home-link {
  margin-top: 6px;
  margin-bottom: 0;
}

.assay-id {
    color: #c3c4c5;
}

.home-link {
    color: #3D6DE0;
}

#viewmore {
  padding: 10px;
}

.overview {
}

.overview > ul {
  list-style: none;
  padding: 6px 10px 6px 10px;
  background: #3d6de00d;
}

.summary-box {
  border-bottom: 1px solid #212529;
  border-top: 1px solid #212529;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.summary {
  font-size: 20px;
}

#label{
  font-weight: 400;
}

.condits{
  color: #818182;
  padding-top: 6px;
}


#content{
  margin: 15px;
}

h3#data-title {
  margin-bottom: 0;
  margin-top: 0;
}

/* nav elements:  tab panes, pagination */


/* IC/EC tab buttons */
.nav-pills {
  margin-top: -0.5rem;
}

.nav-pills .nav-link {
  background-color: #eff1f2;
  border-radius: 3px;
  margin-left: 4px;
  border: 0px #e4e7e9 solid;
  border-bottom-width: 4px;
  color: #c2c8ce;
  -webkit-text-fill-color: #c2c8ce;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #dfe2e5;
  border-color: #b7bec5;
  -webkit-text-fill-color: #8d98a3;
  color: #8d98a3;
}

.nav-pills .nav-link:hover {
  background-color: #e4ebfb;
  -webkit-text-fill-color: #3d6de0;
  color: #3d6de0;
  border-color: #cad7f6;
}

.nav-link {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 4px;
  margin-bottom: 8px;
}
