<!-- <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
<!-- VIS -->
<ng-container>
  <div id="vis" *ngIf="loggedIn; else log_in">
    <div class="row data-header d-flex">
    <!-- <div class="row data-header d-flex" *ngIf="assayData.length > 0"> -->
      <div class="col">
        <h3 id="data-title" class="d-inline-block">Assay data</h3>
        <app-assay-dwnld [assay_title]="assay_title"></app-assay-dwnld>
      </div>


      <div class="col-xs-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto float-right">
        <!-- Assay tab panes -->
        <app-assay-type-btn></app-assay-type-btn>
      </div>
    </div>

    <!-- Call D3 component -->
    <app-dot-plot></app-dot-plot>
    <!-- <app-dot-plot *ngIf="filteredData.length > 0" [data]="filteredData" [tooltipData]="tooltipData" (tooltipEmitter)="showTooltip($event)"></app-dot-plot> -->

    <!-- pagination -->
    <app-assay-pagination></app-assay-pagination>

  </div>
</ng-container>

<ng-template #log_in>
  <div class="row data-header">
    <div class="col-10">
      <h3 id="data-title">Assay data</h3>
      <div>
        <a class="accent-color subtitle login-req" href="">sign in to view activity data</a>
      </div>
    </div>
  </div>
</ng-template>
