/* Structure */
.search-result-container {
  display: flex;
  flex-direction: column;
  /* max-height: 500px; */
  min-width: 300px;
  max-width: 1800px;
  width: 100%;
  position: relative;
}

.mat-table {
  font-family: "Lato", Arial, sans-serif;
}

mat-row {
  border-bottom: 1px solid #7e8b98;
  align-items: stretch;
}

mat-row:first-of-type {
  border-top: 1px solid #7e8b98;
}

.mat-header-row {
  border: none;
  top: 0;
  position: sticky;
  z-index: 1;
  border-bottom: #9ba4ae 4px solid;
  background-color: inherit;
  margin-bottom: -1px;
}

.mat-header {
  color: #a9b1ba;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  // font-size: 0.75em;
  font-weight: 400;
  border: none;
}

.search-result-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.search-result-table {
  overflow: auto;
  min-height: 300px;
}

.search-result-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-icon {
  padding-left: 3px;
}

.mat-cell {
  padding: 0 10px;
}

.search-result-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}
/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-assays {
  flex: 0 0 300px;
  justify-content: center;
}

.mat-column-struct {
  flex: 0 0 25%;
}

.mat-column-similar {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.mat-column-assay_titles {
  flex: 0 0 auto;
}

.mat-column-tanimoto {
  flex: 0 0 110px;
}

.mat-column-created {
  max-width: 124px;
}

mat-cell.mat-cell.cdk-column-tanimoto.mat-column-tanimoto.ng-star-inserted {
  display: flex !important;
  justify-content: center !important;
}

#tanimoto_score {
  width: 100%;
  max-width: 80px;
}

.tm-icon {
  border-radius: 3px;
  text-align: center;
  padding: 7px 25px;
  max-width: 100px !important;
}

.exact-match {
  background: #1f8170;
}
/* Radio buttons if data exist */
div#reframe_cmpd {
  width: 100%;
}

.circle {
  margin: 15px auto;
}

.salt-match .circle {
  background-color: #ffb5bd;
  // background-color: #FDCACC;
}
// Aliases and IDs

.label {
  color: #4e5861;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.table.cmpd-info {
  margin-bottom: 0;
}

.table.cmpd-info td,
.table.cmpd-info th {
  padding: 0.25rem;
  vertical-align: top;
  border-top: 1px dashed #dee2e6;
}
/* Assay & Alias lists */
ul.alias-list,
ul.assay-list {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0.25rem;
}

li.alias {
  display: inline-block;
}

li.assay-title {
  display: inline-block;
  line-height: 1;
  font-size: 0.9em;
  // background: #e4e7e9;
  // padding: 7px 10px;
  // margin: 2px;
  margin: 5px;
  border-radius: 3px;
}

li.assay-title:hover {
  // background: #d3d7dc;
}

.assay-title {
  a {
    color: #212529;
  }

  a:hover {
    color: #3d6de0;
    // text-decoration: none;
  }
}

a#more {
  color: #a9b1ba;
  cursor: pointer;
  font-size: 0.9em;
}

.cmpd-avail {
  background: #fd5457;
  padding: 5px 10px;
  border-radius: 30px;
  color: white;
  margin-bottom: 10px;
}

.no-assay,
.no-cmpd {
  background-color: none;
}

.no-cmpd {
  // margin-bottom: 25px;
}
/* Message if no data sound */
.no-results {
  margin-left: 25px;
  font-size: 1.25em;
}

.flex-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
// .row {
//   width: auto;
//   border: 1px solid blue;
// }
//
// .flex-item {
//   background-color: tomato;
//   padding: 5px;
//   width: 20px;
//   height: 20px;
//   margin: 10px;
//   line-height: 20px;
//   color: white;
//   font-weight: bold;
//   font-size: 2em;
//   text-align: center;
// }

.flex-row {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}

.flex-half {
  flex: 0 0 50%;
  padding: 10px;
  background: yellow;
  border: navy 1px solid;
}

.main-label {
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: center;
}
// Media queries: small screens
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .search-result-container {
    margin-left: 0;
    min-width: unset;
    width: auto;
  }

  mat-header-cell:not(.mat-column-main_label) {
    display: none;
  }

  td.aliases {
    border: none !important;
  }

  mat-row {
    flex-direction: column;
    // border-bottom-width: 2px;
  }

  .mat-icon {
    transition: transform 0.5s ease-in-out;
  }

  .sim-cmpds {
    width: 80%;
  }

  #assay_hits,
  #assay_label,
  #reframe_cmpd,
  #reframe_label,
  #tanimoto_label,
  #tanimoto_score {
    flex: 0 0 50% !important;
    max-width: 100%;
    align-self: center;
  }

  mat-cell {
    padding: 6px 15px !important;
    margin: 0;
    justify-content: space-between;

    &.mat-column-main_label {
      flex-direction: row;
      order: -1;
      background: #f5f6f7;
    }

    &.mat-column-struct {
      order: 99;
    }

    &.mat-column-tanimoto {
      width: 100%;
    }

    &:not(.mat-column-main_label) {
      flex: 0;
      position: relative;
      justify-content: flex-end;
      flex-direction: column;
      max-height: 0;
      min-height: unset;
      overflow: hidden;
      border-top: 1px dashed transparent;
      transition: max-height 0.5s ease-in-out, border-top-color 0.5s ease-in-out;

      * {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
      }
      //display: none;
      &:before {
        font-weight: 600;
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
        overflow: hidden;
      }
      // &:nth-of-type(2):before {
      //   content: 'Aliases';
      // }
      //
      // &:nth-of-type(3):before {
      //   content: 'Sample in Screening Library';
      // }
      //
      // &:nth-of-type(4):before {
      //   content: 'Assay Hits';
      // }
      &.expanded {
        max-height: 350px;
        border-top-color: #7e8b98;

        * {
          max-height: 350px;
        }

        &:before {
          max-height: 100px;
        }
      }
    }

    ul {
      text-align: right;
    }

    &.mat-column-similar {
      padding: 0 15px;
    }
  }
  // mat-cell
  mat-footer-row::after,
  mat-header-row::after,
  mat-row::after {
    min-height: unset;
  }
}

/deep/ mat-cell {
  margin-top: 6px;
  margin-bottom: 6px;
}
