/* Structure */
.search-result-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  position: relative;
  margin-left: 24px;
}

.mat-table{
  font-family: "Lato", Arial, sans-serif;
}

mat-row {
  border-bottom: 1px solid #21252945;
}

mat-row:first-of-type {
  border-top: 1px solid #21252945;
}

.mat-header-row {
  border: none;
}

.search-result-container mat-header-cell {
  opacity: 0.6;
  text-transform: uppercase;
  font-size: 1.15em;
  font-weight: 300;
  border: none;
}

.search-result-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.search-result-table {
  overflow: auto;
  min-height: 300px;
}

.search-result-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-result-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}


.mat-column-created {
  max-width: 124px;
}
