<div id="patterns" style="height:0;">
  <!-- SVG patterns created via http://iros.github.io/patternfills/ -->


  <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
  <pattern id="green-diagonal-1" patternUnits="userSpaceOnUse" width="10" height="10">
    <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjOThkNGNhJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nIzI0OTU4Micgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPgo=" x="0" y="0" width="10" height="10">
    </image>
  </pattern>
</defs>
</svg>
  <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
  <pattern id="green-diagonal-2" patternUnits="userSpaceOnUse" width="10" height="10">
    <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjOThkNGNhJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nIzI0OTU4Micgc3Ryb2tlLXdpZHRoPScyJy8+Cjwvc3ZnPg==" x="0" y="0" width="10" height="10">
    </image>
  </pattern>
</defs>
</svg>
  <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
  <pattern id="green-diagonal-3" patternUnits="userSpaceOnUse" width="10" height="10">
    <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjOThkNGNhJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nIzI0OTU4Micgc3Ryb2tlLXdpZHRoPSczJy8+Cjwvc3ZnPg==" x="0" y="0" width="10" height="10">
    </image>
  </pattern>
</defs>
</svg>
  <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
  <pattern id="green-diagonal-4" patternUnits="userSpaceOnUse" width="10" height="10">
    <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjMjQ5NTgyJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nIzk4ZDRjYScgc3Ryb2tlLXdpZHRoPSczJy8+Cjwvc3ZnPg==" x="0" y="0" width="10" height="10">
    </image>
  </pattern>
</defs>
</svg>
  <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
  <pattern id="green-diagonal-5" patternUnits="userSpaceOnUse" width="10" height="10">
    <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjMjQ5NTgyJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nIzk4ZDRjYScgc3Ryb2tlLXdpZHRoPScyJy8+Cjwvc3ZnPg==" x="0" y="0" width="10" height="10">
    </image>
  </pattern>
</defs>
</svg>
  <svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
  <pattern id="green-diagonal-6" patternUnits="userSpaceOnUse" width="10" height="10">
    <image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjMjQ5NTgyJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nIzk4ZDRjYScgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPg==" x="0" y="0" width="10" height="10">
    </image>
  </pattern>
</defs>
</svg>



<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
<pattern id="orange-on-grey-1" patternUnits="userSpaceOnUse" width="10" height="10">
<image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjZWZmMWYyJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nI2ZmNzM0NScgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPgo=" x="0" y="0" width="10" height="10">
</image>
</pattern>
</defs>
</svg>
<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
<pattern id="orange-on-grey-2" patternUnits="userSpaceOnUse" width="10" height="10">
<image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjZWZmMWYyJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nI2ZmNzM0NScgc3Ryb2tlLXdpZHRoPScyJy8+Cjwvc3ZnPg==" x="0" y="0" width="10" height="10">
</image>
</pattern>
</defs>
</svg>

<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
<pattern id="orange-on-dkgrey-1" patternUnits="userSpaceOnUse" width="10" height="10">
<image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjZTdlOWVjJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nI2ZmNzM0NScgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPgo=" x="0" y="0" width="10" height="10">
</image>
</pattern>
</defs>
</svg>
<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
<pattern id="orange-on-dkgrey-2" patternUnits="userSpaceOnUse" width="10" height="10">
<image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjZTdlOWVjJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nI2ZmNzM0NScgc3Ryb2tlLXdpZHRoPScyJy8+Cjwvc3ZnPg==" x="0" y="0" width="10" height="10">
</image>
</pattern>
</defs>
</svg>


<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
<pattern id="ltorange-on-dkgrey-1" patternUnits="userSpaceOnUse" width="10" height="10">
<image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjZTdlOWVjJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nI2ZmOGYwMCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPgo=" x="0" y="0" width="10" height="10">
</image>
</pattern>
</defs>
</svg>
<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
<pattern id="ltorange-on-dkgrey-2" patternUnits="userSpaceOnUse" width="10" height="10">
<image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjZTdlOWVjJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nI2ZmOGYwMCcgc3Ryb2tlLXdpZHRoPScyJy8+Cjwvc3ZnPg==" x="0" y="0" width="10" height="10">
</image>
</pattern>
</defs>
</svg>

<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
<pattern id="ltorange-on-grey-1" patternUnits="userSpaceOnUse" width="10" height="10">
<image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjZWZmMWYyJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nI2ZmOGYwMCcgc3Ryb2tlLXdpZHRoPScxJy8+Cjwvc3ZnPgo=" x="0" y="0" width="10" height="10">
</image>
</pattern>
</defs>
</svg>
<svg height="10" width="10" xmlns="http://www.w3.org/2000/svg" version="1.1">
<defs>
<pattern id="ltorange-on-grey-2" patternUnits="userSpaceOnUse" width="10" height="10">
<image xlink:href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMCcgaGVpZ2h0PScxMCc+CiAgPHJlY3Qgd2lkdGg9JzEwJyBoZWlnaHQ9JzEwJyBmaWxsPScjZWZmMWYyJy8+CiAgPHBhdGggZD0nTS0xLDEgbDIsLTIKICAgICAgICAgICBNMCwxMCBsMTAsLTEwCiAgICAgICAgICAgTTksMTEgbDIsLTInIHN0cm9rZT0nI2ZmOGYwMCcgc3Ryb2tlLXdpZHRoPScyJy8+Cjwvc3ZnPg==" x="0" y="0" width="10" height="10">
</image>
</pattern>
</defs>
</svg>

</div>


<div *ngIf="vendorName && sel_phases && sel_phases.length > 0 && current_phase" class="phase-diagram" [ngClass]="vendorName">

  <svg width="555" height="25">


<g *ngFor="let phase of sel_phases; let i = index" [matTooltip]="phase.name | titlecase" [attr.transform]='"translate(" + 35*i + ", 0)"'>
  <!-- <rect class="rect" [ngClass]="i > 3 ? 'high' : i === 3 ? 'current' : 'low'" /> -->
    <!-- <rect class="rect approved" [attr.x]="i*(circle_radius*2 + 26) + circle_radius + 5" [attr.y]="2"
    [attr.width]="circle_radius * 2" [attr.height]="circle_radius * 2"
    *ngIf="phase.approved" [ngClass]="i > current_phase ? 'high' : i === current_phase ? 'current' : 'low'"></rect>

  <circle *ngIf="!phase.approved" class="circle" [ngClass]="i > current_phase ? 'high' : i === current_phase ? 'current' : 'low'"
    [attr.r] = "circle_radius" [attr.cx] ="i*(circle_radius*2 + 26) + circle_radius + 5" [attr.cy]="circle_radius + 2" /> -->


<!-- 1px curvature -->
    <!-- <path *ngIf="!phase.approved" class="chevron" [ngClass]="i > current_phase ? 'high' : i === current_phase ? 'current' : 'low'"

      d="M0.6,0C0.1,0-0.2,0.4,0.1,0.9l5.4,9.3c0.3,0.5,0.3,1.3,0,1.7l-5.4,9.3C-0.2,21.6,0.1,22,0.6,22h26
      c0.5,0,1.2-0.4,1.5-0.9l5.4-9.3c0.3-0.5,0.3-1.3,0-1.7l-5.4-9.3c-0.3-0.5-1-0.9-1.5-0.9H0.6z"/> -->

<!-- 2px curvature -->
<!-- style="fill: url(#circles-1) #fff;" -->
<path *ngIf="!phase.approved" class="chevron" [ngClass]="findClass(i)"

  d="M1.2,0c-1.1,0-1.5,0.8-1,1.7l4.4,7.5c0.6,1,0.6,2.5,0,3.5l-4.4,7.5c-0.6,1-0.1,1.7,1,1.7h24
		c1.1,0,2.5-0.8,3-1.7l4.4-7.5c0.6-1,0.6-2.5,0-3.5l-4.4-7.5c-0.6-1-1.9-1.7-3-1.7H1.2z"/>

<!-- 2px curvature -->
      <path
      *ngIf="phase.approved" class="chevron approved" [ngClass]="findClass(i)" d="M1.6,0.4c-1.1,0-1.5,0.8-1,1.7L5,9.6c0.6,1,0.6,2.5,0,3.5l-4.4,7.5c-0.6,1-0.1,1.7,1,1.7H32c1.1,0,2-0.9,2-2
    		l0-7c0-1.1,0-2.9,0-4l0-7c0-1.1-0.9-2-2-2H1.6z"/>

        <!-- 1px curvature -->
      <!-- <path *ngIf="phase.approved" class="chevron approved"
      d="M1,0.4c-0.6,0-0.8,0.4-0.5,0.9l5.4,9.3c0.3,0.5,0.3,1.3,0,1.7l-5.4,9.3C0.2,22,0.4,22.4,1,22.4h32.4
        c0.5,0,1-0.5,1-1l0-9c0-0.6,0-1.4,0-2l0-9c0-0.6-0.4-1-1-1H1z"/> -->

    <text class="phase" [attr.x] ="17" y="12" [ngClass]="findClass(i)">
      {{ phase.label }}
    </text>
    <!-- <text class="phase" [attr.x] ="i*(circle_radius*2 + 26) + circle_radius + 5" y="12" [ngClass]="i > current_phase ? 'high' : i === current_phase ? 'current' : 'low'">{{ phase.label }}</text> -->
  <!-- <line class="right-arrow" marker-end="url(#arrow-head)" [attr.x1]="i*(circle_radius*2 + 26) + circle_radius*2 + 10"
  [attr.x2]="i*(circle_radius*2 + 26) + circle_radius*2 + 18" y1="12" y2="12" *ngIf="i + 1 < sel_phases.length"/> -->
  </g>

</svg>


</div>
