.chevron,
.circle,
.rect {
  stroke-width: 1;
  fill: #eff1f2;
  stroke: #c5cbd0;
  stroke-miterlimit: 10;
  // width: 20px;
  // height: 20px;
}

.chevron.current,
.chevron.low,
.circle.current,
.circle.low,
.rect.current,
.rect.low {
  stroke: #15584c;
}

.failed {
  fill: #ff7345;
  stroke: #ab2a00;
}

.low {
  fill: #98d4ca;
}

.current {
  fill: #29aa94;
}

.in-between.current {
  fill: #80bc5e;
}

.right-arrow {
  stroke: #a9b1ba;
  stroke-width: 1;
}

#arrow-head {
  fill: #a9b1ba;
}

.phase {
  alignment-baseline: middle;
  text-anchor: middle;
  font-size: 0.8em;
  font-weight: 400;
}

.low.phase {
  fill: #1a6c5e;
}

.current.phase {
  fill: white;
}

.high.phase {
  fill: #847b7b;
}

.approved {
  stroke: #a9b1ba;
  fill: #e7e9ec;
}

.approved.current {
  stroke: #a9b1ba;
  fill: #249582;
}

.approved.failed {
  stroke: #ff602c;
  fill: #c53100;
}

.phase-diagram {
  margin-left: 48px;
}

.phase-diagram.informa {
  margin-left: 108px;
}
