// Margins

.phase-diagram {
  margin-left: 48px;
}

.phase-diagram.informa {
  margin-left: 108px;
}
// Strokes
.chevron {
  stroke-width: 1;
  fill: #eff1f2; // todo: light grey
  stroke: #c5cbd0; // medium grey
  stroke-miterlimit: 10;
}

.chevron.completed,
.chevron.current {
  stroke: #15584c;
}
// Background fills
.chevron.failed {
  // fill: #ff7345; // orange
  fill: url("#ltorange-on-grey-1"); // orange stripes on grey
  stroke: #ab2a00; // dark orange
  stroke: #ff602c; // medium orange
}

.completed {
  fill: #98d4ca; // light green
}
// Current phase fill
.current {
  fill: #29aa94; // medium green
}
// Phase I/II
.in-between.current {
  fill: url("#green-diagonal-1");
}
// end
.approved {
  stroke: #a9b1ba;
  fill: #e7e9ec;
}

.approved.current {
  stroke: #a9b1ba;
  fill: #249582;
}

.approved.failed {
  stroke: #f83d00; // darker orange
  // fill: #c53100;
  fill: url("#ltorange-on-dkgrey-1"); // orange stripes on darker grey
}

// Text
.phase {
  alignment-baseline: middle;
  text-anchor: middle;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.completed.phase {
  fill: #1a6c5e;
}

.current.phase {
  fill: white;
}

.todo.phase {
  fill: #847b7b;
}

.failed.phase {
  fill: #212529;
}
