.circle, .rect {
  stroke-width: 1;
  fill: #eff1f2;
  stroke: #c5cbd1;
  // width: 20px;
  // height: 20px;
}

.circle.low, .circle.current, .rect.low, .rect.current {
  stroke: #15584c;
}

.low {
  fill: #98d4ca;
}

.current {
  fill: #29aa94;
}

.right-arrow {
  stroke: #a9b1ba;
  stroke-width: 1;
}

#arrow-head {
  fill: #a9b1ba;
}

.phase {
  alignment-baseline: middle;
    text-anchor: middle;
    font-size: 0.8em;
}

.low.phase {
  fill: #1a6c5e;
}

.current.phase {
  fill: white;
}

.high.phase {
  fill: #847b7b;
}

.approved {
  stroke-width: 2;
}

.phase-diagram {
  margin-left: 45px;
}
